@{
    ViewBag.Title = "Migration - Applicant Joining";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@using System.Data.SqlClient;
@using System.Data;
@using Prp.Data;

@model Prp.Sln.ApplicantJoiningAdminModel
@section RenderCss{

    <style>

        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }
    </style>

}
@section RenderScript{

    <script>
        var applicantId = 0, objJoining = {};
        $(document).ready(function () {

            applicantId = ConvertToInt($("#hfdApplicantId").val());

            var dateFormatDatePocker = 'dd/mm/yyyy';
            startDate = new Date(2023, 4, 30);
            endDate = new Date(2023, 4, 31);

            $("#txtJoinigDate").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                setDate: new Date()
            });

            $(document).on('click', '#btnReleave', function () {
                SaveApplicantReleavingInfo();
            });

            $(document).on('click', '#btnJoin', function () {
                SaveApplicantJoiningInfo();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveApplicantJoiningInfo();
                }
            });

        });

        function SaveApplicantJoiningInfo() {

            if (ValidateFormJoining() == false) {

                var resp = CallActionPost("/JoiningAdmin/ApplicantMigrationJoiningAddUpdate", objJoining);
                debugger;
                if (resp != null && resp.status == true) {
                    alert("Data saved successfully");
                    window.location = "/admin/applicant-search-join?statusTypeId=200&statusId=0";
                }
            }
        }

        function SaveApplicantReleavingInfo() {

            if (ValidateFormReleaving() == false) {

                var resp = CallActionPost("/JoiningAdmin/ApplicantReleavingAddUpdate", objJoining);
                if (resp != null && resp.status == true) {
                    alert("Data saved successfully")
                    window.location = "/admin/applicant-search-join?statusTypeId=191&statusId=0";
                }
            }
        }


        function ValidateFormReleaving() {

            var isError = false, ctrl = "";

            objJoining = {};
            objJoining.applicantId = @Model.applicant.applicantId;
            objJoining.dateJoining = ConvertToString($("#txtJoinigDate").val());

            if ($("#flScanImage").val()) {
                objJoining.image = UploadImageAdmin("flScanImage", applicantId, "ReleavingImage");
                $("#hfdScanImage").val(objJoining.image);
            }
            objJoining.image = ConvertToString($("#hfdScanImage").val());


            if (objJoining.dateJoining == "") {

                $("#txtJoinigDate").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtJoinigDate";
            }

            if (objJoining.image == "") {

                $("#flScanImage").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flScanImage";
            }


            return isError;

        }

        function ValidateFormJoining() {

            var isError = false, ctrl = "";

            objJoining = {};
            objJoining.applicantId = @Model.applicant.applicantId;
            objJoining.dateJoining = ConvertToString($("#txtJoinigDate").val());

            if ($("#flScanImage").val()) {
                objJoining.image = UploadImage("flScanImage", objJoining.applicantId, "JoinigMigrationImage");
                $("#hfdScanImage").val(objJoining.image);
            }
            objJoining.image = ConvertToString($("#hfdScanImage").val());


            if (objJoining.dateJoining == "") {

                $("#txtJoinigDate").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtJoinigDate";
            }

            if (objJoining.image == "") {

                $("#flScanImage").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flScanImage";
            }


            return isError;

        }

    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Migration </h2>
            <div class="clearfix"></div>
        </div>

        @if (Model.isExist == false)
        {
            if (Model.loggedInUser.typeId == 1 || Model.loggedInUser.typeId == 11 || Model.loggedInUser.typeId == 69)
            {
                <fieldset>
                    <legend> Application Info  </legend>
                    <div class="form-group col-lg-12">
                        @{
                            var applicant = Model.applicant;
                            var info = Model.applicantInfo;
                            <table style="width: 100%;" cellspacing="0px">
                                <tbody>
                                    <tr style="float: left">
                                        <th>
                                            <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                                            <h4 style="margin: 0px; font-size: 20px; margin-top:10px; ">Form No. : @applicant.applicantId</h4>
                                        </th>
                                    </tr>
                                    <tr style="float: right">
                                        <th>
                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                                            </a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="width: 100%;" cellspacing="0px">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table class="top_detail" style="width: 48%; float: left; margin-right:2%">
                                                <tbody>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>@applicant.name</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>@applicant.emailId</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Date Of Birth</td>
                                                        <td>@info.dob.ToString("dd MMM yyyy")</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address</td>
                                                        <td>@info.address</td>
                                                    </tr>
                                                    <tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <td>CNIC</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Passport</td>
                                                        }
                                                        <td>@info.cnicNo</td>
                                                    </tr>

                                                    <tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <td>CNIC Front Image</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Passport 1st Page Image</td>
                                                        }
                                                        <td>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                            </a>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                <span class="ank spn-img-view">View</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    @if (info.countryId == 132)
                                                    {
                                                        <tr>
                                                            <td>Domicile Front Image</td>
                                                            <td>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <table class="top_detail" style="width: 49%; float: left;">
                                                <tbody>
                                                    <tr>
                                                        <td>Father Name</td>
                                                        <td>@info.fatherName</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mobile No</td>
                                                        <td>@applicant.contactNumber</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Domicile</td>
                                                        <td>@info.domicileProvince - @info.domicileDistrict</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gender</td>
                                                        <td>Female</td>
                                                    </tr>

                                                    <tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <td>CNIC Expiry Date</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Passport Expiry Date</td>
                                                        }
                                                        <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Nationality</td>
                                                        @if (Model.applicantInfo.countryId == 132)
                                                        {
                                                            <td>Pakistan - @info.districtName</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Model.applicantInfo.countryName - @info.districtName</td>
                                                        }
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <td>CNIC Back Image</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Passport 2nd Page Image</td>
                                                        }
                                                        <td>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                            </a>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                <span class="ank spn-img-view">View</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    @if (info.countryId == 132)
                                                    {
                                                        <tr>
                                                            <td> &nbsp;</td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </fieldset>

                string sqlQuery = "select t2.degreePicFront matricDegree, t3.degreePicFront faDegree, t1.* from tblMigrationMeritList3 t1 inner join tblNursingApplicantDegreeData t2 on t1.appId = t2.applicantID inner join tblNursingApplicantDegreeData t3 on t1.appId = t3.applicantID where t1.appID = " + Model.applicant.applicantId + " and t2.degreeTypeID = 8 and t3.degreeTypeID = 11  order by 1";
                DataTable dt = new DataTable();
                SqlCommand cmd = new SqlCommand(sqlQuery);
                SqlConnection conn = new SqlConnection(PrpDbConnectADO.Conn);
                cmd.Connection = conn;
                conn.Open();
                SqlDataAdapter sda = new SqlDataAdapter(cmd);
                sda.Fill(dt);
                conn.Close();

                <fieldset>
                    <legend> Education Profile  </legend>
                    <div class="form-group col-lg-12">
                        @*@Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })*@
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label for="heard" style="width:100%;">Fsc Marks Percentage</label>
                            <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["fa"].TooDecimal())" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label for="heard" style="width:100%;">Fsc Degree</label>
                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + dt.Rows[0]["faDegree"].TooString())" target="_blank" title="Click to view">
                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + dt.Rows[0]["faDegree"].TooString())" />
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label for="heard" style="width:100%;">Matric Marks Percentage</label>
                            <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["matric"].TooDecimal())" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <label for="heard" style="width:100%;">Matric Degree</label>
                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + dt.Rows[0]["matricDegree"].TooString())" target="_blank" title="Click to view">
                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + dt.Rows[0]["matricDegree"].TooString())" />
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> Selection  </legend>
                    <div class="form-group col-lg-12">
                        @Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label for="heard" style="width:100%;">Induction Session</label>
                            <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["Induction"].TooString())" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <label for="heard" style="width:100%;">Migrated From</label>
                            <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["CollegeJoined"].TooString())" class="form-control" readonly="readonly" />
                        </div><div class="col-md-5 col-sm-5 col-xs-5">
                            <label for="heard" style="width:100%;">Migrated In</label>
                            <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["College_Selected_In"].TooString())" class="form-control" readonly="readonly" />
                        </div>
                        @*<div class="col-md-2 col-sm-2 col-xs-2">
                                <label for="heard" style="width:100%;">Preference No</label>
                                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(dt.Rows[0]["preferenceNo"].TooInt())" class="form-control" readonly="readonly" />
                            </div>*@
                    </div>
                </fieldset>

                string queryCheck = "SELECT ISNULL((select applicantId from tblApplicantMigrationJoiningStatus where applicantId = " + Model.applicant.applicantId + " and JoiningStatus = -1 ), 0)";
                DataTable dtCheck = new DataTable();
                SqlCommand cmdCheck = new SqlCommand(queryCheck);
                SqlConnection connCheck = new SqlConnection(PrpDbConnectADO.Conn);
                cmdCheck.Connection = connCheck;
                connCheck.Open();
                SqlDataAdapter sdaCheck = new SqlDataAdapter(cmdCheck);
                sdaCheck.Fill(dtCheck);
                connCheck.Close();
                int hopitalId = 0;
                if (Convert.ToInt32(dtCheck.Rows[0][0]) > 0)
                {
                    string queryCheckIsFirstCollege = "SELECT ISNULL((select hospitalId from tblApplicantMigrationJoiningStatus where applicantId = " + Model.applicant.applicantId + " and JoiningStatus = 1 and hospitalId = " + Model.loggedInUser.userId + "), 0)";
                    cmdCheck = new SqlCommand(queryCheckIsFirstCollege);
                    SqlConnection connCheckIsFirstCollege = new SqlConnection(PrpDbConnectADO.Conn);
                    connCheckIsFirstCollege.Open();
                    cmdCheck.Connection = connCheckIsFirstCollege;
                    hopitalId = Convert.ToInt32(cmdCheck.ExecuteScalar());
                    connCheckIsFirstCollege.Close();
                    if (hopitalId > 0)
                    {

                    }
                    else
                    {
                        <fieldset>
                            <legend> Set Migration </legend>
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group col-lg-12">

                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <label for="heard" style="width:100%;">Migration Date</label>
                                        <input type="text" id="txtJoinigDate" name="txtJoinigDate" class="form-control" tabindex="3" />
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <label style="float: left; clear: both; width: 100%;"> Migration Document </label>
                                        <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="18" />
                                        <input type="hidden" id="hfdScanImage" value="" />
                                        <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                        <a id="rmvScanImage" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <label for="heard" style="width:100%;">&nbsp;</label>
                                        <input type="button" id="btnJoin" name="submit" class="btn btn-success" value="Save Migration" />
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    }

                }
                else
                {
                    
                }

            }
            else
            {
                <fieldset>
                    <legend> Joining  </legend>
                    <div>
                        <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                            <span> Time Expire</span>
                        </div>
                    </div>
                </fieldset>
            }
        }
        else
        {
            <fieldset>
                <legend> Search Result  </legend>
                <div>
                    <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                        <span> Some thing went wrong</span>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>