@{
    ViewBag.Title = "Applicant Status";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.ApplicantStatusModel
@using System.Data;

@section RenderCss{

}
@section RenderScript{

    <script>
        var statusId = 0;
        $(document).ready(function () {
        });
    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Applicant Status : </h2>
            @if (Model != null && (Model.applicantStatus != null && Model.applicantStatus.Rows.Count > 0))
            {
                <h2 style="padding-left:10px">@Model.applicantStatus.Rows[0]["comments"].TooString() , Form Number (@Model.applicantStatus.Rows[0]["applicantId"].TooString())</h2>
            }

            <div class="clearfix"></div>
        </div>

        @if (Model != null && (Model.applicantStatus != null && Model.applicantStatus.Rows.Count > 0))
        {
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Phase </th>
                            <th class="column-title">Status </th>
                            <th class="column-title">By </th>
                            <th class="column-title">Comments </th>
                            <th class="column-title">Dated </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (DataRow dr in Model.applicantStatus.Rows)
                        {
                        <tr>
                            <td>@dr["statusType"].TooString()</td>
                            <td>@dr["status"].TooString()</td>
                            <td>@dr["statusBy"].TooString()</td>
                            @if (Model.applicantStatus.Rows.IndexOf(dr) == 0)
                            {
                                <td> </td>
                            }
                            else
                            {
                                <td>@dr["comments"].TooString()</td>
                            }

                            <td>@dr["dated"].TooString()</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }


    </div>
</div>