@model Prp.Sln.MeritData
@{
    ViewBag.Title = "Give Consent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section RenderCss{
    <style>
        .img-responsive {
            float: left;
            width: 70%;
            margin-right: 10px;
            height: 50px;
        }

        input[type=radio] {
            width: 30px;
            height: 30px;
        }

        .imgIcn {
            height: 30px;
            cursor: pointer;
        }

            .imgIcn:hover {
                border: 1px solid #f0e4e4;
            }
    </style>

}
@section RenderScript{


    <script>

        var typeId = 1, session, jobId;
        var progIds = {};

        $(document).ready(function () {

            var msgg = $("#idErrorMsg").val();
            $("#showOptions").show();
            $('#ConsentSaveDiv').show();
        });

        var cosentTypeId = 0, consentUpgradeCheck = 0;

        $(document).on('click', '#btnEdit', function () {
            $('#ConsentSaveDiv').show();
            $('#showConsentHidden').show();
        });

        $(document).on('click', '#btnSave', function () {
            var isError = false, disableId = 1, ctrl = "";
            debugger;
            var radioValue = $("input[name='consent']:checked").val();
            debugger;
            if (radioValue == 'Given') {
                cosentTypeId = 1;
            }
            else if (radioValue == 'NotGiven') {
                cosentTypeId = 0;
            }


            if (isError == false) {
                $('#myModal').modal('show');
            }
            else {
            }
            //SaveAndProceed();
        });

        $(document).on('click', '#btnSaveModal', function () {
            //$('#myModal').modal('show');
            $('#myModal').modal('hide');
            SaveAndProceed();
        });

        function SaveAndProceed() {
            //var cosentTypeId = 0, consentUpgradeCheck = 0;
            var objData = {};
            objData.applicantId = @Model.listOfMerits.FirstOrDefault().applicantId;
            objData.roundId = typeId;
            objData.prefNo = @Model.listOfMerits.FirstOrDefault().prefNo;
            objData.consentTypeId = cosentTypeId;
            objData.upgradable = consentUpgradeCheck;
            objData.firstName = "@Model.listOfMerits.FirstOrDefault().firstName";
            console.log(objData);
            var resp = CallActionPost("/LoggedIn/saveConsentDataMigrants", objData);
            if (resp.msg == "You have already submitted your consent") {
                alert("You have already submitted your consent");
            }
            else {
                if (confirm("Congratulations! Your Consent has been saved!.")) {
                    if (confirm("Your Application will now logout!.")) {
                        window.location = "/logout";
                    }
                }
            }

        }



    </script>

}
<div class="container content">
    <div class="row main">
        <div class="col-sm-12 form-box" style="height:700px;">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <h3> Dear @Model.listOfMerits.FirstOrDefault().nam, Form No : @Model.listOfMerits.FirstOrDefault().applicantId <br /></h3>
                    <h3> Current College of Admission : @Model.listOfMerits.FirstOrDefault().joinedCollege <br /></h3>
                </div>
            </div>
            <div class="container row">
                <span style="text-align: left !important; padding-left: 30px; "> You are selected in Following College for Migration</span>
            </div>
            <hr class="colorgraph">
            @foreach (var item in Model.listOfMerits)
            {
                
                <div class="row" style="padding-left: 30px" id="divInfo">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <span style="color:red"></span>
                            <label for=""> Session </label>
                            @if (item.typeId == 10)
                            {
                                <div>
                                    <input required="required" type="text" name="prefNo" id="prefNo" value="2021-2022 (Teaching)" class="form-control" readonly="readonly">
                                </div>
                            }
                            else if (item.typeId == 11)
                            {
                                <div>
                                    <input required="required" type="text" name="prefNo" id="prefNo" value="2021-2022 (Only DHQ)" class="form-control" readonly="readonly">
                                </div>
                            }
                            else if (item.typeId == 13)
                            {
                                <div>
                                    <input required="required" type="text" name="prefNo" id="prefNo" value="2022-2023 (Morning)" class="form-control" readonly="readonly">
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="form-group">
                            <span style="color:red"></span>
                            <label for=""> Preference No </label>
                            <div>
                                <input required="required" type="text" name="prefNo" id="prefNo" value="@item.prefNo" class="form-control" readonly="readonly">
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <span style="color:red"></span>
                            <label for=""> Migration College </label>
                            <div>
                                <span>
                                    <input required="required" type="text" name="colg" id="colg" value="@item.firstName" class="form-control" readonly="readonly">
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            }
        <div class="main-login main-center">
            <hr class="colorgraph">



            @if (Model.consents.Count == 0)
            {
                <div class="row" id="dateRow" style="padding-left: 30px; text-align:center">
                    <h3 style="text-align:center; font-weight:bold">Submit Consent</h3>
                    <div class="row">
                        @*<div class="col-xs-12 col-sm-4 col-md-4 col-md-push-4">
                        <label for=""> Session: </label>
                        <div>
                            <div class="form-group">
                                <select required="required" name="ddlSession" id="ddlSession" class="form-control" tabindex="4">
                                    <option selected="selected" id="val0" value="0">Select</option>
                                    @foreach (var item in Model.listOfMerits)
                                    {

                                        if (item.typeId == 10)
                                        {
                                            <option id="10" value="10">2021-2022 (Teaching)</option>
                                        }
                                        else if (item.typeId == 11)
                                        {
                                            <option id="11" value="11">2021-2022 (Only DHQ)</option>
                                        }
                                        else if (item.typeId == 13)
                                        {
                                            <option id="13" value="13">2022-2023 (Morning)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>*@
                    </div>
                    <div id="showOptions">
                        <h3>Choose an option:</h3>
                        <label>
                            <input class=" form-check-input" type="radio" name="consent" value="Given" /> <p> Given</p>
                        </label>
                        <label style="width:50px"></label>
                        <label>
                            <input class=" form-check-input" type="radio" name="consent" value="NotGiven" /> <p>Not Given</p>
                        </label>
                        <div class="col-sm-12" style="padding-top: 20px;">
                            <span id="btnSave" type="button" class="btn btn-lg mb10 mt5 btn-red" tabindex="28">Save Consent &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="row" id="showConsent" style="padding-left: 30px; text-align:center; color:red">

                    @{
                        int consent1, upgrad1;
                        try
                        {
                            consent1 = Model.consents.Where(i => i.roundId == 1).FirstOrDefault().consentTypeId;
                            upgrad1 = Model.consents.Where(i => i.roundId == 1).FirstOrDefault().upgradable;
                        }
                        catch (Exception ex)
                        {
                            consent1 = -1;
                            upgrad1 = -1;
                        }

                    }

                    @if (consent1 == 1)
                    {
                        <h3>You have submitted consent as "Given"</h3>
                    }
                    else if (consent1 == 0)
                    {
                        <h3>You have submitted consent as "NOT Given" </h3>
                    }


                    <div class="col-sm-12" style="padding-top: 20px;">
                        <span id="btnEdit" type="button" class="btn btn-lg mb10 mt5 btn-success" tabindex="28">EDIT CONSENT &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>

            }

            <div class="row" id="showConsentHidden" style="padding-left: 30px; text-align:center; display:none">
                <h3 style="text-align:center; font-weight:bold">Update Consent</h3>
                <div class="row">
                    
                </div>
                <div id="showOptions">
                    <h3>Choose an option:</h3>
                    <label>
                        <input class=" form-check-input" type="radio" name="consent" value="Given" /> <p> Given</p>
                    </label>
                    <label style="width:50px"></label>
                    <label>
                        <input class=" form-check-input" type="radio" name="consent" value="NotGiven" /> <p>Not Given</p>
                    </label>
                    <div class="col-sm-12" style="padding-top: 20px;">
                        <span id="btnSave" type="button" class="btn btn-lg mb10 mt5 btn-red" tabindex="28">Update Consent &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cofirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row main">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 form-box mn0" style="height:100%; padding:30px">
                            <div class="main-login main-center">
                                <p> Are you sure you want to save this consent?</p>
                                <p>
                                    <label class="text-center">
                                        <center>
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        </center>
                                    </label>
                                </p>
                                <p><center>I confirm that I am submitting my consent for round  upon my own will<br /> I understand that my submission will be reflected in next coming rounds. </center> </p>
                                <div class="col-sm-12">
                                    <center>
                                        <span id="btnSaveModal" type="button" class="btn btn-lg mb10 mt5 btn-red" tabindex="28">Save &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cacel</button>
                </div>
            </div>

        </div>
    </div>
</div>

