@{
    ViewBag.Title = "Application View/Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.ProofReadingModel
@section RenderCss{

    <style>
        td span {
            line-height: 18px;
        }

        #divprint {
            width: 100%;
            margin: 0 auto;
            margin-top: 15px;
            font-family: 'Lato', sans-serif !important;
        }

        .center-div {
            margin: auto;
            width: 20%;
            padding: 10px;
            height: 60px;
        }

        .th_center {
            text-align: center;
        }

        .w1 {
            width: 1%;
        }

        .btn_print {
            width: 100%;
            padding: 10px;
        }

        .ank {
            cursor: pointer;
        }

        .spn-img-view {
            font-style: italic;
        }


        .text-center {
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;
        }

        .top_detail tr td:nth-child(2n) {
            border-bottom: 1px solid #000;
        }

        .ppr-red {
            color: #ff0000;
        }
    </style>
}
@section RenderScript{

    <script>

        var applicantId = 0, objApplicant = {}, imagesPath = "";

        $(document).ready(function () {

            applicantId = ConvertToInt($("#hfdApplicantId").val());

            GetApplicantMarksInfo();

            $(document).on('click', '.btn_reopen', function () {
                reOpen();

            });

            $(document).on('click', '.btn_print', function () {
                printDiv();
            });

        });

        function printDiv() {
            var result = false;
            try {

                var divToPrint = document.getElementById('divprint');
                var newWin = window.open('', 'Print-Window');
                newWin.document.open();
                newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                newWin.document.close();
                setTimeout(function () { newWin.close(); }, 10);
                result = true;

            } catch (e) {
                result = false;
            }
            return result;
        }

        function reOpen() {

            var isConfirm = $("#chkConfirm").is(':checked');
            if (isConfirm) {

                try {
                    var obj = {};
                    obj.applicantId = applicantId;
                    obj.statusTypeId = 55; // Reopened
                    obj.statusId = 7; // Proof Reading
                    var resp = CallActionPost("/ApplicantProfile/ApplicationStatusAddUpdate", obj);
                    window.location = "/applicant-proof-reading";

                } catch (e) {
                }
            }
            else {
                alert("Please check Re-Open Application checkbox");
            }
        }

        function GetApplicantMarksInfo() {
            //alert("GetApplicantInfo");
            if (1>0) {
                if (1>0) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=100&gn=0&mw=0&bsn=0&extraQ=0&minExp=0&exp=0&entryTest=0");
                    console.log(resp);
                    $(".fsc").show();
                    $(".gn").hide();
                    $(".bsn").hide();
                    $(".postRn").hide();
                    $(".minExp").hide();
                    $(".exper").hide();
                    $(".entry").hide();
                    $(".total").show();
                    $("#fsc").html(resp.fscObtained);
                    $("#total").html(resp.fscObtained);
                    $(".obtainedAllQualification").html(resp.fscObtained);
                    $(".totalAllQualification").html("100");
                }
            }
            else if (@Convert.ToInt32(Session["degreeAchieved"]) == 12) {
                if (@Convert.ToInt32(Session["appliedFor"]) == 12) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=0&mw=0&bsn=90&extraQ=0&minExp=2&exp=10&entryTest=0");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").hide();
                    $(".bsn").show();
                    $(".postRn").hide();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").hide();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#bsn").html(resp.bsnObtained);
                    $("#exper").html(resp.expObtained);
                    $("#total").html(parseFloat(resp.bsnObtained + resp.expObtained).toFixed(2));
                    $(".obtainedQualification").html(resp.bsnObtained);
                    $(".totalQualification").html("90");
                    $(".obtainedAllQualification").html(resp.bsnObtained);
                    $(".totalAllQualification").html("90");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("10");
                }
            }
            else if (@Convert.ToInt32(Session["degreeAchieved"]) == 11) {
                if (@Convert.ToInt32(Session["appliedFor"]) == 11) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=25&mw=25&bsn=0&extraQ=2&minExp=2&exp=8&entryTest=40");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").show();
                    $(".bsn").hide();
                    $(".postRn").show();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").show();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#gn").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $("#postRn").html(resp.extraObtained);
                    $("#exper").html(resp.expObtained);
                    $("#entry").html("0");
                    $("#entryTotal").html("40");
                    $("#total").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained + resp.expObtained).toFixed(2));
                    $(".obtainedQualification").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $(".totalQualification").html("50");
                    $(".obtainedExtraQualification").html(resp.extraObtained);
                    $(".totalExtraQualification").html("2");
                    $(".obtainedAllQualification").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained).toFixed(2));
                    $(".totalAllQualification").html("52");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("8");
                }
                else if (@Convert.ToInt32(Session["appliedFor"]) == 12) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=42.5&mw=42.5&bsn=0&extraQ=5&minExp=2&exp=10&entryTest=0");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").show();
                    $(".bsn").hide();
                    $(".postRn").show();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").hide();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#gn").html(resp.gnObtained + resp.mwObtained);
                    $("#postRn").html(resp.extraObtained);
                    $("#exper").html(resp.expObtained);
                    $("#total").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained + resp.expObtained).toFixed(2));
                    $(".obtainedQualification").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $(".totalQualification").html("85");
                    $(".obtainedExtraQualification").html(resp.extraObtained);
                    $(".totalExtraQualification").html("5");
                    $(".obtainedAllQualification").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained).toFixed(2));
                    $(".totalAllQualification").html("90");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("10");
                }
            }
            else
            {
                var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                    + "&fsc=100&gn=0&mw=0&bsn=0&extraQ=0&minExp=0&exp=0&entryTest=0");
                console.log(resp);
            }

            try {

            } catch (e) {
            }
        }

    </script>
}
<div class="container" style=" margin-bottom:60px;">
    <div class="row main">

        @*@if (Model.loggedInUser.adminId > 0)
            {
                @Html.Partial("_ApplicantLinksForAdmin")
            }
            else
            {
                @Html.Partial("_ApplicantLinks")
            }*@


        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <div class="col-sm-12">
                        <div class="center-div">
                            <a class="btn btn-app animated-button btn_print"><i class="fa fa-save"></i> &nbsp; Print </a>
                        </div>
                    </div>
                    <div>
                        <div id="divprint" class="container cv-f" style="font-size:14px !important; ">
                            <style>
                                .imgView {
                                    width: 60px;
                                    height: 40px;
                                    border: 1px solid #ede9e9;
                                    width: 30px;
                                    height: 20px;
                                }
                            </style>
                            <fieldset>
                                <legend>
                                    <label class="checkbox-inline" for="chkConfirm">
                                        <input type="checkbox" name="acknowledge" id="chkConfirm" value="1" required="required">
                                        Re-Open Application
                                    </label>
                                </legend>
                                <div class="col-md-12">
                                    <p>
                                        Dear applicant you can re-open and edit your application till closing date and time. However
                                        , please ensure to Close and Submit your application before closing date and time (30-Nov-2023 11:00 pm)
                                    </p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="center-div">
                                        <a id="btnReopenApplication" class="btn btn-app animated-button btn_reopen"><i class="fa fa-edit"></i> Re-Open Application </a>
                                    </div>
                                </div>
                            </fieldset>

                            @{
                                var applicant = Model.applicant;
                                var info = Model.applicantInfo;
                                var digit = 0;
                                if (Convert.ToInt32(Session["degreeAchieved"]) == 13)
                                {
                                    digit = 5;
                                }
                                else
                                {
                                    digit = 5;
                                }
                                var degree = Model.degree;

                                decimal marksDegree = 0;
                                decimal marksDMC = 0;
                                <table style="width: 100%;" cellspacing="0px">
                                    <tbody>
                                        <tr style="float: left">
                                            <th>
                                                <h4 style="margin: 0px; font-size: 35px;">@applicant.name</h4>
                                                <h4 style="margin: 0px; font-size: 20px; margin-bottom:8px; ">
                                                    <label style="margin: 0px; font-size: 20px; margin-top: 8px; border-bottom: 2px solid #000">Form No: 55@(digit)@(applicant.applicantId) : Application for BSN Generic (4 Years Degree Program) Afternoon</label>
                                                </h4>
                                            </th>
                                        </tr>
                                        <tr style="float: right">
                                            <th>
                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pathProfilePic)" style="width:90px; height:80px;" />
                                                @*<a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">

                                                    </a>*@
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="width: 100%;" cellspacing="0px">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="top_detail" style="width: 49%; float: left; margin-right:1%;">
                                                    <tbody>
                                                        <tr>
                                                            <td>Name</td>
                                                            <td>@applicant.name</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email</td>
                                                            <td>@applicant.emailId</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date Of Birth</td>
                                                            <td>@info.dob.ToString("dd MMM yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Marital Status</td>
                                                            @if (Model.applicantInfo.meritalStatus == 1)
                                                            {
                                                                <td>Single</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 2)
                                                            {
                                                                <td>Married</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 3)
                                                            {
                                                                <td>Separated</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 4)
                                                            {
                                                                <td>Widowed</td>
                                                            }
                                                        </tr>
                                                        @*<tr>
                                                                <td>PMDC Number</td>
                                                                <td>
                                                                    @applicant.pmdcNo
                                                                    <a class="ank" href="@("https://pmc.gov.pk/Doctors/Details?regNo="+@applicant.pmdcNo)" target="_blank"> View </a>
                                                                </td>
                                                            </tr>*@

                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {
                                                                    <td> Form B </td>
                                                                }
                                                                else
                                                                {
                                                                    <td> CNIC </td>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td>Passport</td>
                                                            }
                                                            <td>@info.cnicNo</td>
                                                        </tr>
                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {
                                                                    <td> Form B Front</td>
                                                                }
                                                                else
                                                                {
                                                                    <td> CNIC Front </td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td>Passport 1st Page</td>
                                                            }
                                                            <td>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="top_detail" style="width: 49%; float: left;">
                                                    <tbody>
                                                        <tr>
                                                            <td>Father Name</td>
                                                            <td>@info.fatherName</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile No</td>
                                                            <td>@applicant.contactNumber</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gender</td>
                                                            @if (info.genderId == 2)
                                                            {
                                                                <td>Female</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Male</td>
                                                            }
                                                        </tr>

                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    <td>CNIC Expiry Date</td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td>Passport Expiry Date</td>
                                                            }
                                                            @if (info.cnicPicBack == "")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                                            }

                                                        </tr>
                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    <td>CNIC Back</td>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td>Passport 2nd Page</td>
                                                            }
                                                            @if (info.cnicPicBack == "")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                                    </a>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                        <span class="ank spn-img-view">View</span>
                                                                    </a>
                                                                </td>
                                                            }

                                                        </tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <tr>
                                                                <td>Domicile</td>
                                                                <td>
                                                                    Punjab - @info.domicileDistrict -
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                                                    </a>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                        <span class="ank spn-img-view">View</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="top_detail" style="width: 100%; float: left;">
                                                    <tr>
                                                        <td style="width: 17.5%; float: left;">Address</td>
                                                        <td style="width: 80%; float: left;">@info.address</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {
                                    if (Model.listMarks != null && Model.listMarks.Count > 0)
                                    {
                                        try
                                        {
                                            marksDegree = Model.listMarks.Where(x => x.marksType == 1).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }
                                        try
                                        {
                                            marksDMC = Model.listMarks.Where(x => x.marksType == 2).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }
                                    }

                                }
                                <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Education : <label style="font-weight:bold" class="obtainedAllQualification"></label>
                                                    / <label style="font-weight:bold" class="totalAllQualification"></label>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="margin-top: 5px; width: 100%; border:1px solid;" cellspacing="0" border="1">
                                    <tbody>
                                        <tr>
                                            <th class="th_center">SR</th>
                                            <th>Degree Type</th>
                                            <th class="th_center">Obtained Marks</th>
                                            <th class="th_center">Total Marks</th>
                                            <th>Passing Institute/Board</th>
                                            <th class="th_center">Certificate Image</th>
                                        </tr>
                                        @{int i = 1;}
                                        @foreach (var item in Model.listDegreeMark)
                                        {


                                            <tr>
                                                <td class="th_center">@i</td>
                                                @if (item.degreeName == "Midwifery")
                                                {
                                                    if (Convert.ToInt32(Session["genderID"]) == 1)
                                                    {
                                                        <td>Specialization (4th Year)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Midwifery  (4th Year)</td>
                                                    }
                                                }
                                                else if (item.degreeName == "General Nursing")
                                                {
                                                    <td>General Nursing (03 Years)</td>
                                                }
                                                else if (item.degreeName == "BS Nursing")
                                                {
                                                    <td>BSN Generic (4 Years Degree Program)</td>
                                                }
                                                else if (item.degreeName == "Post RN Bsc Nursing")
                                                {
                                                    <td>1 year Post Basic specialization</td>
                                                }
                                                else if (item.degreeName == "MSc Nursing")
                                                {
                                                    <td>Post RN B.sc.Nursing/Generic</td>
                                                }
                                                else
                                                {
                                                    <td>@item.degreeName</td>
                                                }
                                                <td class="th_center">@item.obtainMarks</td>
                                                <td class="th_center">@item.totalMarks</td>
                                                <td>@item.degreeInstitute</td>
                                                <td class="th_center">
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + item.imageDMC)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            i++;

                                        }

                                    </tbody>
                                </table>
                                if (Model.listSpecility != null && Model.listSpecility.Count > 0)
                                {
                                    var listMorning = Model.listSpecility.Where(x => x.typeId == 9).ToList();
                                    var listEvening = Model.listSpecility.Where(x => x.typeId == 10).ToList();
                                    if (listMorning != null && listMorning.Count > 0)
                                    {
                                        <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                        <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                            Morning Preference
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Preference No.</th>
                                                    <th> Institute</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var spc in listMorning.OrderBy(x => x.preferenceNo))
                                                {
                                                    <tr>
                                                        <td>@spc.preferenceNo</td>
                                                        <td>@spc.hospitalName</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    if (listEvening != null && listEvening.Count > 0)
                                    {
                                        <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                        <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                            Evening Preference
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Preference No.</th>
                                                    <th> Institute</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var spc in listEvening.OrderBy(x => x.preferenceNo))
                                                {
                                                    <tr>
                                                        <td>@spc.preferenceNo</td>
                                                        <td>@spc.hospitalName</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    <P style="page-break-before: always" />
                                }
                                <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Payment Information
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                if (Model.voucher != null && Model.voucher.applicantVoucherId > 0)
                                {
                                    if (String.IsNullOrWhiteSpace(Model.voucher.voucherImage))
                                    {
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            <thead> <tr> <th> IBN </th> <th> Applicant A/C No </th> <th> Applicant A/C Title </th><th> Submitted Date </th>  </tr></thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.voucher.ibn</td>
                                                    <td>@Model.voucher.accountNo</td>
                                                    <td>@Model.voucher.accountTitle</td>
                                                    <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            @if (@Convert.ToInt32(Session["appliedFor"]) == 11)
                                            {
                                                <thead> <tr> <th> Branch Code </th><th> Submitted Date </th> <th> Image </th><th> Testing Center </th>  </tr></thead>
                                            }
                                            else
                                            {
                                                <thead> <tr> <th> Branch Code </th><th> Submitted Date </th> <th> Image </th>  </tr></thead>
                                            }

                                            <tbody>
                                                <tr>
                                                    <td>@Model.voucher.branchCode</td>
                                                    <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.voucher.voucherImage)" alt="No Image" />
                                                        </a>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                            <span class="ank spn-img-view">View</span>
                                                        </a>
                                                    </td>
                                                    @if (@Convert.ToInt32(Session["appliedFor"]) == 11)
                                                    {
                                                        <td>@Model.voucher.testingCenterName</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                }

                                if (0 > 1)
                                {
                                    <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                    <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                        Attachments
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                        <thead> <tr> <th> PNC Front </th><th> PNC Back </th> <th> Affidavit/Surety bond </th> <th>Regularization Order</th> </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <thead><tr> <th> Forwarding Letter of MS/HOI </th><th> No Enquiry Certificate </th> @*<th> Recommendation Letter </th>*@ <th colspan="2">Charge Assumption Report (Regular)</th> </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                @*<td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" alt="No Image" />
                                                        </a>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" target="_blank" title="Click to view">
                                                            <span class="ank spn-img-view">View</span>
                                                        </a>
                                                    </td>*@
                                                <td colspan="2">
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                <table style="margin-top: 15px; width: 100%; border:1px solid;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Tentative Marks
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                    <tbody>
                                                        <tr style="text-align:center">
                                                            <th class="th_center w1 fsc" colspan="2">FSc</th>

                                                            <th class="th_center w1 total" colspan="2" rowspan="2">Total Aggregate</th>
                                                        </tr>
                                                        <tr style="text-align:center">
                                                            <th class="th_center w1 fsc">Obtained</th>
                                                            <th class="th_center w1 fsc">Total</th>

                                                        </tr>
                                                        <tr style="text-align:center">
                                                            <td class="fsc" id="fsc"></td>
                                                            <td class="fsc">100</td>

                                                            <td class="total" id="total"></td>
                                                            @*<td class="total">100</td>*@
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            }
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>