@{
    ViewBag.Title = "Applicant Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.ProfileModel
@section RenderCss{

    <style>

        .sprq {
            color: #ff0000;
        }
    </style>

}
@section RenderScript{

    <script>

        var applicantId = 0, applicantDetailId = 0, objApplicant = {}, objAppInfo = {}, objEducation = {},
            imagesPath = "", provinceId = 0, instituteTypeId = 0, graduateTypeId = 0, graduateType = 0
            , degreeTypeId, noOfYears = 0
            , applicantDegreeDetailId = 0, specialityIdFCPS = 0, specialityIdMSMD = 0, countryId = 132;

        var objDegree = {}, objEducation = {}, objDegreeMarksList = [], objCertificateList = [], objApplicantInfo = {}, DegreeMarks = [];

        $(document).ready(function () {
            //$("#chkType3").prop("checked", false);

            sessionStorage.setItem("applicantProfileStep", 12);
            applicantId = ConvertToInt($("#hfdApplicantId").val());
            imagesPath = "/Images/Applicant/" + applicantId + "/";

            $(".grd-foreign").hide();

            var dateFormatDatePocker = 'dd/mm/yyyy';

            var currentDate = new Date();
            var dobMinDate = currentDate;
            dobMinDate.setDate(dobMinDate.getDate() - 7300);

            //$("#txtDateOfPassingMatric").datepicker(
            //    {
            //        dateFormat: "dd/mm/yyyy"
            //    }
            //);

            $("#txtDateOfPassingMatric").datepicker(
                {
                    format: dateFormatDatePocker,
                    autoclose: true,
                    clearBtn: true,
                    disableTouchKeyboard: true,
                    todayHighlight: true,
                    showOnFocus: true,
                    changeYear: true
                }
            );

            $("#txtDateOfPassingInter").datepicker(
                {
                    //dateFormat: "dd/mm/yyyy"
                    format: dateFormatDatePocker,
                    autoclose: true,
                    clearBtn: true,
                    disableTouchKeyboard: true,
                    todayHighlight: true,
                    showOnFocus: true,
                    changeYear: true
                }
            );
            $("#txtDateOfPassingBSN").datepicker(
                {
                    dateFormat: "dd/mm/yyyy"
                }
            );
            $("#txtDateOfPassingGN").datepicker(
                {
                    dateFormat: "dd/mm/yyyy"
                }
            );
            $("#txtDateOfPassingMidwifery").datepicker(
                {
                    dateFormat: "dd/mm/yyyy"
                }
            );
            $("#txtDateOfPassingBsc").datepicker(
                {
                    dateFormat: "dd/mm/yyyy"
                }
            );

            $("#txtDateOfPassingMsc").datepicker(
                {
                    dateFormat: "dd/mm/yyyy"
                }
            );

            $(document).on('click', '#btnSaveEducation', function () {
                $('#myModal').modal('show');
            });
            $(document).on('click', '#btnSaveModal', function () {
                $('#myModal').modal('hide');
                SaveAndProceed();
            });

            $(document).on('click', '#removeBsc', function () {
                RemoveBsc();
            });

            $(document).on('click', '#removeMsc', function () {
                RemoveMsc();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveAndProceed();
                }
            });
            //BindDistrictDDL();
            //GetApplicantInfo();
            //GetApplicantEducationInfo();
            GetApplicantEducationInfo();
            //BindInstituteDDL(0);
        });

        function RemoveBsc() {
            var r = confirm("Are you sure you want to remove Post RN Diploma");

                if (r == true) {

                    var resp = CallActionPost("/ApplicantProfile/removeBsc?applicantId=" + applicantId);
                    //if (resp != null && resp.status == true) {
                    //    window.location = "/applicant-education";
                    //}
                    ClearBscSection();
                    GetApplicantEducationInfo
                }
        }

        function RemoveMsc() {
            var r = confirm("Are you sure you want to remove MSc Degree");

                if (r == true) {
                    var resp = CallActionPost("/ApplicantProfile/removeMsc?applicantId="+ applicantId);
                    //if (resp != null && resp.status == true) {
                    //    window.location = "/applicant-education";
                    //}
                    ClearMscSection();
                    GetApplicantEducationInfo
                }
        }

        function ClearBscSection() {

            $("#txtObtainMarksType5").val("");
            $("#txtTotalMarksType5").val("");
            $("#txtDateOfPassingBsc").val("");
            $('#imgType5').hide();
            $('#rmvType5').hide();
            $("#hfdType5").val("");
            $("#txtInstituteBsc").val("");
            GetApplicantEducationInfo();
        }

        function ClearMscSection() {

            $("#txtObtainMarksType4").val("");
            $("#txtTotalMarksType4").val("");
            $("#txtDateOfPassingMsc").val("");
            $('#imgType4').hide();
            $('#rmvType4').hide();
            $("#hfdType4").val("");
            $("#txtInstituteMsc").val("");
            GetApplicantEducationInfo();
        }

        function BindDistrictDDL(provinceId, districtId) {

            provinceId = 196;

            var list = CallActionGet("/Common/RegionGetByCondition?typeId=4" + "&parentId=" + provinceId + "&condition=GetDistrictAll");
            console.log(list);
            if (list != null && list.length > 0) {


                var ddlItem = {};
                for (var i = 0; i < list.length; i++) {
                    ddlItem = list[i];

                    if (districtId == ddlItem.regionId)
                        $("#ddlDistrict1").append("<option  value='" + ddlItem.regionId + "' selected='selected'>" + ddlItem.name + "</option>");
                    else $("#ddlDistrict1").append("<option  value='" + ddlItem.regionId + "'>" + ddlItem.name + "</option>");

                    if (districtId == ddlItem.regionId)
                        $("#ddlDistrict2").append("<option  value='" + ddlItem.regionId + "' selected='selected'>" + ddlItem.name + "</option>");
                    else $("#ddlDistrict2").append("<option  value='" + ddlItem.regionId + "'>" + ddlItem.name + "</option>");
                }
            }
        }
        function SaveAndProceed() {

            var isError = ValidateFormEducation();
            console.log(objEducation);
            if (isError == false) {

                var r = confirm("Degrees are saved successfully");

                if (r == true) {

                    var resp = CallActionPost("/ApplicantProfile/ApplicantEducationAddUpdate", objEducation);
                    if (resp != null && resp.status == true) {

                            window.location = "/applicant-speciality";


                    }
                }
            }

        }

        function processDate(date) {
            var parts = date.split("/");
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        function ValidateFormEducation() {


            var isError = false, ctrl = "";
            objDegree = { DegreeMarks: [] }; objDegreeMarksList = []; objApplicantInfo = {};

            $(".req-fld").removeClass("req-fld");
            $(".lbl-err").hide();

            //objDegree.applicantDegreeDetailId = applicantDegreeDetailId;
            objDegree.applicantId = applicantId;

            if ($("#ddlMatricBoard option:selected").text() == "Other") {
                if ($("#txtMatricBoardName").val() == "") {
                    $("#txtMatricBoardName").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtMatricBoardName";
                    alert("Plz Add Matric Board");
                }
            }

            if ($("#ddlFABoard option:selected").text() == "Other") {
                if ($("#txtFaBoardName").val() == "") {
                    $("#txtFaBoardName").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtFaBoardName";
                    alert("Plz Add FA/FSc Board");
                }
            }


            //objDegree.degreeTypeId = degreeTypeId;
            //objDegree.degreeYear = noOfYears;
            if ($("#txtDateOfPassingMatric").val()) {
                //alert('click');
                objApplicantInfo.matricPassingDate = ConvertToString($("#txtDateOfPassingMatric").val());
                objDegree.matricPassindDate = objApplicantInfo.matricPassingDate;
                //alert(objApplicantInfo.matricPassingDate);
            }
            if ($("#txtDateOfPassingInter").val()) {
                objApplicantInfo.interPassingDate = ConvertToString($("#txtDateOfPassingInter").val());
                objDegree.interPassingDate = objApplicantInfo.interPassingDate;
            }
            if ($("#txtDateOfPassingBSN").val()) {
                objApplicantInfo.bsnPassingDate = $("#txtDateOfPassingBSN").val();
            }
            if ($("#txtDateOfPassingGN").val()) {
                objApplicantInfo.gnPassingDate = $("#txtDateOfPassingGN").val();
            }
            if ($("#txtDateOfPassingMidwifery").val()) {
                objApplicantInfo.midwiferyPassingDate = $("#txtDateOfPassingMidwifery").val();
            }
            if ($("#txtDateOfPassingBsc").val()) {
                objApplicantInfo.bscPassingDate = $("#txtDateOfPassingBsc").val();
            }
            if ($("#txtDateOfPassingMsc").val()) {
                objApplicantInfo.mscPassingDate = $("#txtDateOfPassingMsc").val();
            }


            if ($("#txtRowDegree1MarksObtain").val().length > 0) {
                if ($("#flRowDegree1").val()) {
                    objDegree.matricImage = UploadImage("flRowDegree1", applicantId, "Matric");
                }
                else if ($("#hfdRowDegree1").val()) {
                    objDegree.matricImage = $("#hfdRowDegree1").val();
                }
                else {
                    $("#flRowDegree1").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flRowDegree1";
                }
                $("#hfdRowDegree1").val(objDegree.matricImage);

                var objDegreeMarks = {};
                objDegreeMarks.degreeTypeId = ConvertToInt($("#ddlMatric").val());;
                objDegreeMarks.applicantId = applicantId;
                objDegreeMarks.obtainedMarks = ConvertToString($("#txtRowDegree1MarksObtain").val());
                objDegreeMarks.totalMarks = ConvertToString($("#txtRowDegree1MarksTotal").val());
                objDegreeMarks.passingDate = objApplicantInfo.matricPassingDate;
                //alert(objDegreeMarks.passingDate);
                objDegreeMarks.degreePicFront = objDegree.matricImage;
                if ($("#ddlMatricBoard option:selected").text() == "Other") {
                    objDegreeMarks.degreeInstituteName = $("#txtMatricBoardName").val();
                }
                else {
                    objDegreeMarks.degreeInstituteName = $("#ddlMatricBoard option:selected").text();
                }

                //alert(objDegreeMarks);
                objDegree.DegreeMarks.push(objDegreeMarks);
            }
            else {
                $("#txtRowDegree1MarksObtain").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtRowDegree1MarksObtain";
            }
            objDegree.matricImage = ConvertToString($("#hfdRowDegree1").val());


            if ($("#txtRowDegree2MarksObtain").val().length > 0) {
                if ($("#flRowDegree2").val()) {
                    objDegree.faImage = UploadImage("flRowDegree2", applicantId, "FA");
                }
                else if ($("#hfdRowDegree2").val()) {
                    objDegree.faImage = $("#hfdRowDegree2").val();
                }
                else {
                    $("#flRowDegree2").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flRowDegree2";
                }
                if ((parseFloat($("#txtRowDegree2MarksObtain").val()) / parseFloat($("#txtRowDegree2MarksTotal").val())) < 0.5) {
                    $("#txtRowDegree2MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree2MarksObtain";

                    }
                    alert("Minimum 50% Marks in FSc Required");
                }
                $("#hfdRowDegree2").val(objDegree.faImage);
                var objDegreeMarks = {};
                objDegreeMarks.degreeTypeId = ConvertToInt($("#ddlFa").val());;
                objDegreeMarks.applicantId = applicantId;
                objDegreeMarks.obtainedMarks = ConvertToString($("#txtRowDegree2MarksObtain").val());
                objDegreeMarks.totalMarks = ConvertToString($("#txtRowDegree2MarksTotal").val());
                objDegreeMarks.passingDate = objApplicantInfo.interPassingDate;
                objDegreeMarks.degreePicFront = objDegree.faImage;
                //objDegreeMarks.degreeInstituteName = $("#ddlFABoard option:selected").text();
                if ($("#ddlFABoard option:selected").text() == "Other") {
                    objDegreeMarks.degreeInstituteName = $("#txtFaBoardName").val();
                }
                else {
                    objDegreeMarks.degreeInstituteName = $("#ddlFABoard option:selected").text();
                }
                //alert(objDegreeMarks);
                objDegree.DegreeMarks.push(objDegreeMarks);
            }
            else {
                $("#txtRowDegree2MarksObtain").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtRowDegree2MarksObtain";
            }
            objDegree.faImage = ConvertToString($("#hfdRowDegree2").val());

            if ($("#txtRowDegree1MarksTotal").val() == '') {
                $("#txtRowDegree1MarksTotal").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtRowDegree1MarksTotal";

                }
                alert("Total Marks cannot be empty");
            }

            if (parseFloat($("#txtRowDegree1MarksObtain").val()) > parseFloat($("#txtRowDegree1MarksTotal").val())) {
                $("#txtRowDegree1MarksObtain").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtRowDegree1MarksObtain";

                }
                alert("Obtained Marks cannot be More than Total Marks");
            }



            if ($("#txtDateOfPassingMatric").val() == '') {
                $("#txtDateOfPassingMatric").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtDateOfPassingMatric";

                }
                alert("Passing Date cannot be Empty");
            }

            if ($("#txtDateOfPassingInter").val() == '') {
                $("#txtDateOfPassingInter").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtDateOfPassingInter";

                }
                alert("Passing Date cannot be Empty");
            }

            if ($("#txtRowDegree2MarksTotal").val() == '') {
                $("#txtRowDegree2MarksTotal").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtRowDegree2MarksTotal";

                }
                alert("Total Marks cannot be empty");
            }

            if (parseFloat($("#txtRowDegree2MarksObtain").val()) > parseFloat($("#txtRowDegree2MarksTotal").val())) {
                $("#txtRowDegree2MarksObtain").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtRowDegree2MarksObtain";

                }
                alert("Obtained Marks cannot be More than Total Marks");
            }
            //if ($.datepicker.parseDate('mm/dd/yyyy', objApplicantInfo.interPassingDate) > $.datepicker.parseDate('mm/dd/yyyy', objApplicantInfo.matricPassingDate)) {
            if (processDate(objApplicantInfo.matricPassingDate) > processDate(objApplicantInfo.interPassingDate)) {
                $("#txtDateOfPassingMatric").addClass("req-fld");
                isError = true;
                if (ctrl == "") {
                    ctrl = "txtDateOfPassingMatric";

                }
                alert("Matric Passing Date cannot be After Intermediate Passing Date");
            }

            if (13 == 12) {
                if ($("#txtRowDegree3MarksObtain").val().length > 0) {
                    if ($("#flRowDegree3").val()) {
                        objDegree.imageDegreeBSNursing = UploadImage("flRowDegree3", applicantId, "BSNursing");
                    }
                    else if ($("#hfdRowDegree3").val()) {
                        objDegree.imageDegreeBSNursing = $("#hfdRowDegree3").val();
                    }
                    else {
                        $("#flRowDegree3").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "flRowDegree3";
                    }
                    $("#hfdRowDegree3").val(objDegree.imageDegreeBSNursing);
                    var objDegreeMarks = {};
                    objDegreeMarks.degreeTypeId = 5;
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.obtainedMarks = ConvertToString($("#txtRowDegree3MarksObtain").val());
                    objDegreeMarks.totalMarks = ConvertToString($("#txtRowDegree3MarksTotal").val());
                    objDegreeMarks.passingDate = objApplicantInfo.bsnPassingDate;
                    objDegreeMarks.degreePicFront = objDegree.imageDegreeBSNursing;
                    objDegreeMarks.degreeInstituteName = $("#txtPassingInstitute3").val();
                    //alert(objDegreeMarks);
                    objDegree.DegreeMarks.push(objDegreeMarks);
                }
                else {
                    $("#txtRowDegree3MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRowDegree3MarksObtain";
                }
                objDegree.imageDegreeBSNursing = ConvertToString($("#hfdRowDegree3").val());
                if (processDate(objApplicantInfo.interPassingDate) > processDate(objApplicantInfo.bsnPassingDate)) {
                    $("#txtDateOfPassingBSN").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtDateOfPassingBSN";

                    }
                    alert("Intermediate Passing Date cannot be After BS Generic Passing Date ");
                }

                if (parseFloat($("#txtRowDegree3MarksObtain").val()) > parseFloat($("#txtRowDegree3MarksTotal").val())) {
                    $("#txtRowDegree3MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree3MarksObtain";

                    }
                    alert("Obtained Marks cannot be More than Total Marks");
                }
            }
            else if (13 == 11) {
                if ($("#txtRowDegree03MarksObtain").val().length > 0) {
                    if ($("#flRowDegree03").val()) {
                        objDegree.imageDegreeGeneralNursing = UploadImage("flRowDegree03", applicantId, "GeneralNursing");
                    }
                    else if ($("#hfdRowDegree03").val()) {
                        objDegree.imageDegreeGeneralNursing = $("#hfdRowDegree03").val();
                    }
                    else {
                        $("#flRowDegree03").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "flRowDegree03";
                    }
                    $("#hfdRowDegree03").val(objDegree.imageDegreeGeneralNursing);
                    var objDegreeMarks = {};
                    objDegreeMarks.degreeTypeId = 3;
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.obtainedMarks = ConvertToString($("#txtRowDegree03MarksObtain").val());
                    objDegreeMarks.totalMarks = ConvertToString($("#txtRowDegree03MarksTotal").val());
                    objDegreeMarks.passingDate = objApplicantInfo.gnPassingDate;
                    objDegreeMarks.degreePicFront = objDegree.imageDegreeGeneralNursing;
                    objDegreeMarks.degreeInstituteName = $("#txtPassingInstitute03").val();
                    //alert(objDegreeMarks);
                    objDegree.DegreeMarks.push(objDegreeMarks);
                }
                else {
                    $("#txtRowDegree03MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRowDegree03MarksObtain";
                }
                objDegree.imageDegreeGeneralNursing = ConvertToString($("#hfdRowDegree03").val());

                if (processDate(objApplicantInfo.interPassingDate) > processDate(objApplicantInfo.gnPassingDate)) {
                    $("#txtDateOfPassingGN").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtDateOfPassingGN";

                    }
                    alert("Intermediate Passing Date cannot be After General Nursing Passing Date ");
                }

                if (parseFloat($("#txtRowDegree03MarksObtain").val()) > parseFloat($("#txtRowDegree03MarksTotal").val())) {
                    $("#txtRowDegree03MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree03MarksObtain";

                    }
                    alert("Obtained Marks cannot be More than Total Marks");
                }
                // 60% check
                if ((parseFloat($("#txtRowDegree03MarksObtain").val()) / parseFloat($("#txtRowDegree03MarksTotal").val())) < 0.6) {
                    $("#txtRowDegree03MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree03MarksObtain";

                    }
                    alert("Minimum 60% Marks in General Nursing Required");
                }


                if ($("#txtRowDegree4MarksObtain").val().length > 0) {
                    if ($("#flRowDegree4").val()) {
                        objDegree.imageDegreeMidwifery = UploadImage("flRowDegree4", applicantId, "Midwifery");
                    }
                    else if ($("#hfdRowDegree4").val()) {
                        objDegree.imageDegreeMidwifery = $("#hfdRowDegree4").val();
                    }
                    else {
                        $("#flRowDegree4").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "flRowDegree4";
                    }
                    $("#hfdRowDegree4").val(objDegree.imageDegreeMidwifery);
                    var objDegreeMarks = {};
                    objDegreeMarks.degreeTypeId = 4;
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.obtainedMarks = ConvertToString($("#txtRowDegree4MarksObtain").val());
                    objDegreeMarks.totalMarks = ConvertToString($("#txtRowDegree4MarksTotal").val());
                    objDegreeMarks.passingDate = objApplicantInfo.midwiferyPassingDate;
                    objDegreeMarks.degreePicFront = objDegree.imageDegreeMidwifery;
                    objDegreeMarks.degreeInstituteName = $("#txtPassingInstitute4").val();
                    //alert(objDegreeMarks);
                    objDegree.DegreeMarks.push(objDegreeMarks);
                }
                else {
                    $("#txtRowDegree4MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRowDegree4MarksObtain";
                }
                objDegree.imageDegreeMidwifery = ConvertToString($("#hfdRowDegree4").val());

                if (processDate(objApplicantInfo.gnPassingDate) > processDate(objApplicantInfo.midwiferyPassingDate)) {
                    $("#txtDateOfPassingBSN").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtDateOfPassingBSN";

                    }
                    alert("Midwifery Passing Date cannot be After General Nursing Passing Date ");
                }
                if (parseFloat($("#txtRowDegree4MarksObtain").val()) > parseFloat($("#txtRowDegree4MarksTotal").val())) {
                    $("#txtRowDegree4MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree4MarksObtain";

                    }
                    alert("Obtained Marks cannot be More than Total Marks");
                }
                //60% check
                if ((parseFloat($("#txtRowDegree4MarksObtain").val()) / parseFloat($("#txtRowDegree4MarksTotal").val()))<0.6) {
                    $("#txtRowDegree4MarksObtain").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtRowDegree4MarksObtain";

                    }
                    alert("Minimum 60% Marks in Midwifery Required");
                }
            }
            if (13 == 11) {
                if ($("#txtObtainMarksType5").val().length > 0) {
                    if ($("#flType5").val()) {
                        objDegree.imageDegreeBsc = UploadImage("flType5", applicantId, "PostRnSpecialization");
                    }
                    else if ($("#hfdType5").val()) {
                        objDegree.imageDegreeBsc = $("#hfdType5").val();
                    }
                    else {

                    }
                    $("#hfdType5").val(objDegree.imageDegreeBsc);
                    var objDegreeMarks = {};
                    objDegreeMarks.degreeTypeId = 6;
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.obtainedMarks = ConvertToString($("#txtObtainMarksType5").val());
                    objDegreeMarks.totalMarks = ConvertToString($("#txtTotalMarksType5").val());
                    objDegreeMarks.passingDate = objApplicantInfo.bscPassingDate;
                    objDegreeMarks.degreePicFront = objDegree.imageDegreeBsc;
                    objDegreeMarks.degreeInstituteName = $("#txtInstituteBsc").val();
                    objDegree.DegreeMarks.push(objDegreeMarks);
                }
                else {

                }
                objDegree.imageDegreeBsc = ConvertToString($("#hfdType5").val());

                if (parseFloat($("#txtObtainMarksType5").val()) > parseFloat($("#txtTotalMarksType5").val())) {
                    $("#txtObtainMarksType5").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtObtainMarksType5";

                    }
                    alert("Obtained Marks cannot be More than Total Marks");
                }

            }
            if (13 == 12) {


                if ($("#txtObtainMarksType4").val().length > 0) {
                    if ($("#flType4").val()) {
                        objDegree.imageDegreeMsc = UploadImage("flType4", applicantId, "PostRnBsc");
                    }
                    else if ($("#hfdType4").val()) {
                        objDegree.imageDegreeMsc = $("#hfdType4").val();
                    }
                    else {
                    }
                    $("#hfdType4").val(objDegree.imageDegreeMsc);
                    var objDegreeMarks = {};
                    objDegreeMarks.degreeTypeId = 7;
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.obtainedMarks = ConvertToString($("#txtObtainMarksType4").val());
                    objDegreeMarks.totalMarks = ConvertToString($("#txtTotalMarksType4").val());
                    objDegreeMarks.passingDate = objApplicantInfo.mscPassingDate;
                    objDegreeMarks.degreePicFront = objDegree.imageDegreeMsc;
                    objDegreeMarks.degreeInstituteName = $("#txtInstituteMsc").val();
                    objDegree.DegreeMarks.push(objDegreeMarks);
                }
                else {
                }
                objDegree.imageDegreeMsc = ConvertToString($("#hfdType4").val());

                if (parseFloat($("#txtObtainMarksType4").val()) > parseFloat($("#txtTotalMarksType4").val())) {
                    $("#txtObtainMarksType4").addClass("req-fld");
                    isError = true;
                    if (ctrl == "") {
                        ctrl = "txtObtainMarksType4";

                    }
                    alert("Obtained Marks cannot be More than Total Marks");
                }

            }

            objEducation = objDegree;

            return isError;
        }

        function GetApplicantInfo() {

            var resp = CallActionGet("/ApplicantProfile/GetApplicantInfo?applicantId=" + applicantId);

            if (resp != null && resp.applicantId > 0) {
                objApplicant = resp;
            }
        }

        function GetApplicantEducationInfo() {
            debugger;

            $("#ddlDegree").attr("disabled", "disabled");

            objAppInfo = CallActionGet("/ApplicantProfile/GetApplicantInfoDetail?applicantId=" + applicantId);

            var respEdu = CallActionGet("/ApplicantProfile/GetApplicantEducationData?applicantId=" + applicantId);
            if (respEdu != null) {
                console.log(respEdu.DegreeMarks);
                for (var key in respEdu.DegreeMarks) {
                    var item = respEdu.DegreeMarks[key];
                    if (item.degreeTypeId == 1) {
                        var matricBoards = ['BISE Lahore', 'BISE Faisalabad', 'BISE Sargodha', 'BISE DG Khan', 'BISE Multan', 'BISE Bahawalpur', 'BISE Rawalpindi', 'BISE Gujranwala', 'BISE Sahiwal'];
                        $("#txtRowDegree1MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree1MarksTotal").val(item.totalMarks);
                        //$("#txtDateOfPassingMatric").val((item.passingDate));
                        $("#txtDateOfPassingMatric").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(item.passingDate)));
                        //$("#ddlMatricBoard option[text=" + item.degreeInstituteName + "]").prop("selected", true);
                        $("#ddlMatric").val(item.degreeTypeId);
                        if (matricBoards.includes(item.degreeInstituteName)) {
                            $("#ddlMatricBoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        }
                        else {
                            //alert("Other was selected");
                            $("#ddlMatricBoard option:contains(Other)").attr('selected', true);
                            document.getElementById("matricBoardNameDiv").style.display = "block";
                            $("#txtMatricBoardName").val(item.degreeInstituteName);
                        }


                        $("#hfdRowDegree1").val("");
                        if (@Convert.ToString(Session["MatricDegreeImg"]).Length > 0) {
                            $('#imgRowDegree1').attr('src', imagesPath + "@Convert.ToString(Session["MatricDegreeImg"])");
                            $('#imgRowDegree1').show();
	                        $('#rmvRowDegree1').show();
                            $("#hfdRowDegree1").val("@Convert.ToString(Session["MatricDegreeImg"])");
                        }

                    }
                    else if (item.degreeTypeId == 8) {
                        var matricBoards = ['BISE Lahore', 'BISE Faisalabad', 'BISE Sargodha', 'BISE DG Khan', 'BISE Multan', 'BISE Bahawalpur', 'BISE Rawalpindi', 'BISE Gujranwala', 'BISE Sahiwal'];
                        $("#txtRowDegree1MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree1MarksTotal").val(item.totalMarks);
                        //$("#txtDateOfPassingMatric").val((item.passingDate));
                        //alert(ToDateFormatDDMMYYYWithSlash(JsonToDate(item.passingDate)));
                        $("#txtDateOfPassingMatric").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(item.passingDate)));
                        //$("#ddlMatricBoard option[text=" + item.degreeInstituteName + "]").prop("selected", true);
                        $("#ddlMatric").val(item.degreeTypeId);
                        //alert(item.degreeInstituteName);
                        if (matricBoards.includes(item.degreeInstituteName)) {
                            $("#ddlMatricBoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        }
                        else {
                            //alert("Other was selected");
                            $("#ddlMatricBoard option:contains(Other)").attr('selected', true);
                            document.getElementById("matricBoardNameDiv").style.display = "block";
                            $("#txtMatricBoardName").val(item.degreeInstituteName);
                        }
                        //$("#ddlMatricBoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        var img = item.degreePicFront;
                        //alert(ConvertToString(item.degreePicFront));
                        //alert(img.Length > 0);
                        $("#hfdRowDegree1").val("");
                        if (@Convert.ToString(Session["MatricDegreeImg"]).Length > 0) {
                            $('#imgRowDegree1').attr('src', imagesPath + "@Convert.ToString(Session["MatricDegreeImg"])");
                            $('#imgRowDegree1').show();
	                        $('#rmvRowDegree1').show();
                            $("#hfdRowDegree1").val("@Convert.ToString(Session["MatricDegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 2) {
                        var faBoards = ['BISE Lahore', 'BISE Faisalabad', 'BISE Sargodha', 'BISE DG Khan', 'BISE Multan', 'BISE Bahawalpur', 'BISE Rawalpindi', 'BISE Gujranwala', 'BISE Sahiwal'];
                        $("#txtRowDegree2MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree2MarksTotal").val(item.totalMarks);
                        //$("#txtDateOfPassingInter").val((item.passingDate));
                        $("#txtDateOfPassingInter").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(item.passingDate)));
                        //$("#ddlFaBoard option[text=" + item.degreeInstituteName + "]").prop("selected", true);
                        $("#ddlFa").val(item.degreeTypeId);
                        if (faBoards.includes(item.degreeInstituteName)) {
                            $("#ddlFABoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        }
                        else {
                            //alert("Other was selected");
                            $("#ddlFABoard option:contains(Other)").attr('selected', true);
                            document.getElementById("faBoardNameDiv").style.display = "block";
                            $("#txtFaBoardName").val(item.degreeInstituteName);
                        }
                        //$("#ddlFABoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        //$("#hfdRowDegree2").val(item.degreePicFront);
                        $("#hfdRowDegree2").val("");
                        if (@Convert.ToString(Session["FADegreeImg"]).Length > 0) {
                            $('#imgRowDegree2').attr('src', imagesPath + "@Convert.ToString(Session["FADegreeImg"])");
                            $('#imgRowDegree2').show();
                            $('#rmvRowDegree2').show();
                            $("#hfdRowDegree2").val("@Convert.ToString(Session["FADegreeImg"])");
                            //$("#flRowDegree2").val("@Convert.ToString(Session["FADegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 9) {
                        var faBoards = ['BISE Lahore', 'BISE Faisalabad', 'BISE Sargodha', 'BISE DG Khan', 'BISE Multan', 'BISE Bahawalpur', 'BISE Rawalpindi', 'BISE Gujranwala', 'BISE Sahiwal'];
                        $("#txtRowDegree2MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree2MarksTotal").val(item.totalMarks);
                        //$("#txtDateOfPassingInter").val((item.passingDate));
                        $("#txtDateOfPassingInter").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(item.passingDate)));
                        //$("#ddlFaBoard option[text=" + item.degreeInstituteName + "]").prop("selected", true);
                        $("#ddlFa").val(item.degreeTypeId);
                        //$("#ddlFABoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        if (faBoards.includes(item.degreeInstituteName)) {
                            $("#ddlFABoard option:contains(" + item.degreeInstituteName + ")").attr('selected', true);
                        }
                        else {
                            //alert(item.degreeInstituteName);
                            $("#ddlFABoard option:contains(Other)").attr('selected', true);
                            document.getElementById("faBoardNameDiv").style.display = "block";
                            $("#txtFaBoardName").val(item.degreeInstituteName);
                        }
                        //$("#imgRowDegree2").val(item.degreePicFront);
                        $("#hfdRowDegree2").val("");
                        if (@Convert.ToString(Session["FADegreeImg"]).Length > 0) {
                            $('#imgRowDegree2').attr('src', imagesPath + "@Convert.ToString(Session["FADegreeImg"])");
                            $('#imgRowDegree2').show();
                            $('#rmvRowDegree2').show();
                            $("#hfdRowDegree2").val("@Convert.ToString(Session["FADegreeImg"])");
                            //$("#flRowDegree2").val("@Convert.ToString(Session["FADegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 5) {
                        $("#txtRowDegree3MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree3MarksTotal").val(item.totalMarks);
                        $("#txtDateOfPassingBSN").val(item.passingDate);
                        $("#hfdRowDegree3").val("");
                        $("#txtPassingInstitute3").val(item.degreeInstituteName);

                        $("#hfdRowDegree3").val("");
                        if (@Convert.ToString(Session["BSNDegreeImg"]).Length > 0) {
                            $('#imgRowDegree3').attr('src', imagesPath + "@Convert.ToString(Session["BSNDegreeImg"])");
                            $('#imgRowDegree3').show();
                            $('#rmvRowDegree3').show();
                            $("#hfdRowDegree3").val("@Convert.ToString(Session["BSNDegreeImg"])");
                            //$("#flRowDegree3").val("@Convert.ToString(Session["BSNDegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 3) {
                        $("#txtRowDegree03MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree03MarksTotal").val(item.totalMarks);
                        $("#txtDateOfPassingGN").val(item.passingDate);
                        $("#txtPassingInstitute03").val(item.degreeInstituteName);
                        $("#hfdRowDegree03").val("");

                        $("#hfdRowDegree03").val("");
                        if (@Convert.ToString(Session["GeneralNursingDegreeImg"]).Length > 0) {
                            $('#imgRowDegree03').attr('src', imagesPath + "@Convert.ToString(Session["GeneralNursingDegreeImg"])");
                            $('#imgRowDegree03').show();
                            $('#rmvRowDegree03').show();
                            $("#hfdRowDegree03").val("@Convert.ToString(Session["GeneralNursingDegreeImg"])");
                            //$("#flRowDegree03").val("@Convert.ToString(Session["GeneralNursingDegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 4) {
                        $("#txtRowDegree4MarksObtain").val(item.obtainedMarks);
                        $("#txtRowDegree4MarksTotal").val(item.totalMarks);
                        $("#txtDateOfPassingMidwifery").val(item.passingDate);
                        $("#hfdRowDegree4").val("");
                        $("#txtPassingInstitute4").val(item.degreeInstituteName);

                        $("#hfdRowDegree4").val("");
                        if (@Convert.ToString(Session["MidwiferyDegreeImg"]).Length > 0) {
                            $('#imgRowDegree4').attr('src', imagesPath + "@Convert.ToString(Session["MidwiferyDegreeImg"])");
                            $('#imgRowDegree4').show();
                            $('#rmvRowDegree4').show();
                            $("#hfdRowDegree4").val("@Convert.ToString(Session["MidwiferyDegreeImg"])");
                            //$("#flRowDegree4").val("@Convert.ToString(Session["MidwiferyDegreeImg"])");
                        }
                    }
                    else if (item.degreeTypeId == 6) {
                        $("#txtObtainMarksType5").val(item.obtainedMarks);
                        $("#txtTotalMarksType5").val(item.totalMarks);
                        $("#txtDateOfPassingBsc").val(item.passingDate);
                        $("#hfdType5").val("");
                        $("#txtInstituteBsc").val(item.degreeInstituteName);

                        $("#hfdType5").val("");
                        if (@Convert.ToString(Session["PostRnBScDegreeImg"]).Length > 0) {
                            $('#imgType5').attr('src', imagesPath + "@Convert.ToString(Session["PostRnBScDegreeImg"])");
                            $('#imgType5').show();
                            $('#rmvType5').show();
                            $("#hfdType5").val("@Convert.ToString(Session["PostRnBScDegreeImg"])");
                            //$("#flType5").val("@Convert.ToString(Session["PostRnBScDegreeImg"])");
                            $('#postRnBscRemove').show();
                        }
                        else {
                            $('#postRnBscRemove').hide();
                        }
                    }
                    else if (item.degreeTypeId == 7) {
                        $("#txtObtainMarksType4").val(item.obtainedMarks);
                        $("#txtTotalMarksType4").val(item.totalMarks);
                        $("#txtDateOfPassingMsc").val(item.passingDate);
                        $("#hfdType4").val("");
                        $("#txtInstituteMsc").val(item.degreeInstituteName);

                        $("#hfdType4").val("");
                        if (@Convert.ToString(Session["PostRnMScDegreeImg"]).Length > 0) {
                            $('#imgType4').attr('src', imagesPath + "@Convert.ToString(Session["PostRnMScDegreeImg"])");
                            $('#imgType4').show();
                            $('#rmvType4').show();
                            $("#hfdType4").val("@Convert.ToString(Session["PostRnMScDegreeImg"])");
                            //$("#flType4").val("@Convert.ToString(Session["PostRnMScDegreeImg"])");
                            $('#postRnMscRemove').show();
                        }
                        else {
                            $('#postRnMscRemove').hide();
                        }
                    }
                }
            }
            else {
                //BindPenelEducationNew();
            }
        }

        function BindPenelEducation(objEducation) {
            //alert('bind panel education');
        }

        //First time screen open (New data)

        function BindInstituteDDL() {

            //var obj = {};
            //obj.search = 'GetInstituteByTypeAndProvince';
            //obj.parentId = provinceId;
            //obj.typeId = instituteTypeId;

            var provinceId = 2;
            var instituteTypeId = 2;

            //$("#ddlInstituteBSN").empty();
            //$("#ddlInstituteMW").empty();
            //$("#ddlInstituteGN").empty();


            if (provinceId > 0 && instituteTypeId > 0) {

                var list = CallActionPost("/Common/DDLGetInstituteBSN");
                //alert(list[0].key);
                if (list != null && list.length > 0) {

                    var ddlItem = {};
                    for (var i = 0; i < list.length; i++) {
                        ddlItem = list[i];
                        try {
                            $("#ddlInstituteBSN").append("<option  value='" + ddlItem.value + "'>" + ddlItem.key + "</option>");
                            $("#ddlInstituteMW").append("<option  value='" + ddlItem.value + "'>" + ddlItem.key + "</option>");
                            $("#ddlInstituteGN").append("<option  value='" + ddlItem.value + "'>" + ddlItem.key + "</option>");
                            $("#ddlInstituteMSC").append("<option  value='" + ddlItem.value + "'>" + ddlItem.key + "</option>");
                        } catch (e) {
                            alert('error ddl');
                        }

                    }

                }
            }

        }

        function CertificateHideShow(degreeTypeId) {


            $(".fieldType").hide();
            if (degreeTypeId == 1) {
                $("#fieldType1").show();
                $("#fieldType2").show();
                $("#fieldType3").show();

                $(".fieldType1").hide();
                $(".fieldType2").hide();
                $(".fieldType3").hide();


            } else {

                $("#fieldType4").show();
                $("#fieldType5").show();

                $(".fieldType4").hide();
                $(".fieldType5").hide();
            }
        }

    </script>
    <script type="text/javascript">
        function matricBoardCheckOption(that) {
            //alert('change');
            //if ($("#ddlMatricBoard option:selected").text() == "Other") {
            //    alert($("#ddlMatricBoard option:selected").text());
            //}
            //else {
            //    alert("board");
            //}

            if (that.value == "matricBoardOther") {
                document.getElementById("matricBoardNameDiv").style.display = "block";
            } else {
                document.getElementById("matricBoardNameDiv").style.display = "none";
            }
        }

        function faBoardCheckOption(that) {
            //alert('change');
            //if ($("#ddlMatricBoard option:selected").text() == "Other") {
            //    alert($("#ddlMatricBoard option:selected").text());
            //}
            //else {
            //    alert("board");
            //}

            if (that.value == "faBoardOther") {
                document.getElementById("faBoardNameDiv").style.display = "block";
            } else {
                document.getElementById("faBoardNameDiv").style.display = "none";
            }
        }
    </script>
}
<div class="container">
    <div class="row main">
        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="progress mt15">
                            @if ("13" == "13")
                            {
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    50%
                                </div>
                            }
                            else
                            {
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:33%">
                                    33%
                                </div>
                            }
                        </div>
                        @if (1 > 0)
                        {
                            <h3 class="text-center">Education : Step 2 of 4 </h3>
                        }
                        else
                        {
                            <h3 class="text-center">Education : Step 2 of 5 </h3>
                        }
                        @*<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:33%">
                                    33%
                                </div>
                            </div>
                            <h3 class="text-center">Education : Step 2 of 6  <span class="lightgray"></span></h3>*@
                        <form role="form">
                            <fieldset class="grd-local">
                                <legend>Add Education</legend>
                                <div class="row">
                                    <div class="col-md-12 " style="padding: 20px 10px; display: none;"> For marks conversion criteria <a href="#">Click Here</a></div>
                                </div>
                                <div class="row col-md-12  ">
                                    <div class="col-md-12">
                                        @*<hr><p style="color:red"> Please confirm that the marks entered in both Obtained Marks and Total Marks are inclusive of islamiyat  and Pak Studies Marks. </p><hr>*@
                                    </div>
                                    <fieldset id="fieldTypeMatric" class="fieldType">
                                        <legend> SSC (Matric : Science) </legend>
                                        <input type="hidden" id="fieldTypeMatric" class="hfdTypeId" value="" />
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Select Degree <span class="sprq">*</span></label>
                                                    <input type="hidden" id="hfdRowDegree1Id" value="0" />
                                                    <select required="required" name="ddlMatric" id="ddlMatric" class="form-control" tabindex="4" readonly="readonly">
                                                        <option selected="selected" value="8">Matric (Science)</option>
                                                        @*<option value="1">Matric (Arts)</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Select Board <span class="sprq">*</span></label>
                                                    <input type="hidden" id="hfdRowDegree1Id" value="0" />
                                                    <select required="required" name="ddlMatricBoard" id="ddlMatricBoard" class="form-control" tabindex="4" onchange="matricBoardCheckOption(this)">
                                                        <option selected="selected" value="1">BISE Lahore</option>
                                                        <option value="2">BISE Faisalabad</option>
                                                        <option value="3">BISE Sargodha</option>
                                                        <option value="4">BISE DG Khan</option>
                                                        <option value="5">BISE Multan</option>
                                                        <option value="6">BISE Bahawalpur</option>
                                                        <option value="7">BISE Rawalpindi</option>
                                                        <option value="8">BISE Gujranwala</option>
                                                        <option value="9">BISE Sahiwal</option>
                                                        <option value="matricBoardOther">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6 fieldType5" id="matricBoardNameDiv" style="display:none">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label> Enter Board Name <span class="sprq">*</span></label>
                                                    <input type="text" maxlength="30" name="txtMatricBoardName" id="txtMatricBoardName" class="form-control alpha" tabindex="7" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Obtained Marks <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            <input type="text" maxlength="11" name="txtRowDegree1MarksObtain" id="txtRowDegree1MarksObtain" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Total Marks <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            <select required="required" name="txtRowDegree1MarksTotal" id="txtRowDegree1MarksTotal" class="form-control">
                                                                <option selected="selected" value="800">800</option>
                                                                <option value="850">850</option>
                                                                <option value="1000">1000</option>
                                                                <option value="1050">1050</option>
                                                                <option value="1100">1100</option>
                                                            </select>
                                                            @*<input type="text" maxlength="11" name="txtRowDegree1MarksTotal" id="txtRowDegree1MarksTotal" class="datepicker form-control dated" tabindex="7" autocomplete="off">*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Passing Date <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            <input type="text" name="txtDateOfPassingMatric" id="txtDateOfPassingMatric" class="datepicker form-control dated" tabindex="7">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Certificate Image <span class="sprq">*</span></label>
                                                    <input type="file" id="flRowDegree1" name="flRowDegree1" class="form-control flup" tabindex="2" accept="image/jpeg, image/png">
                                                    <input type="hidden" id="hfdRowDegree1" value="" />
                                                    <img id="imgRowDegree1" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree1" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset id="fieldTypeFA" class="fieldType">
                                        <legend> HSSC (Intermediate: FSc Pre Medical) </legend>
                                        <input type="hidden" id="fieldTypeFA" class="hfdTypeId" value="" />
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Select Degree <span class="sprq">*</span></label>
                                                    <input type="hidden" id="hfdRowDegree2Id" value="0" />
                                                    <select required="required" name="ddlFa" id="ddlFa" class="form-control" tabindex="4" readonly="readonly">
                                                        <option selected="selected" value="9">FSc</option>
                                                        @*<option value="2">FA (Arts)</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Select Board <span class="sprq">*</span></label>
                                                    <input type="hidden" id="hfdRowDegree1Id" value="0" />
                                                    <select required="required" name="ddlFABoard" id="ddlFABoard" class="form-control" tabindex="4" onchange="faBoardCheckOption(this)">
                                                        <option selected="selected" value="1">BISE Lahore</option>
                                                        <option value="2">BISE Faisalabad</option>
                                                        <option value="3">BISE Sargodha</option>
                                                        <option value="4">BISE DG Khan</option>
                                                        <option value="5">BISE Multan</option>
                                                        <option value="6">BISE Bahawalpur</option>
                                                        <option value="7">BISE Rawalpindi</option>
                                                        <option value="8">BISE Gujranwala</option>
                                                        <option value="9">BISE Sahiwal</option>
                                                        <option value="faBoardOther">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6 fieldType5" id="faBoardNameDiv" style="display:none">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label> Enter Board Name <span class="sprq">*</span></label>
                                                    <input type="text" maxlength="30" name="txtFaBoardName" id="txtFaBoardName" class="form-control alpha" tabindex="7" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Obtained Marks <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            <input type="text" maxlength="11" name="txtRowDegree2MarksObtain" id="txtRowDegree2MarksObtain" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Total Marks <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            @*<input type="text" maxlength="11" name="txtRowDegree2MarksTotal" id="txtRowDegree2MarksTotal" class="datepicker form-control dated" tabindex="7" autocomplete="off">*@
                                                            <select required="required" name="txtRowDegree2MarksTotal" id="txtRowDegree2MarksTotal" class="form-control">
                                                                <option selected="selected" value="800">800</option>
                                                                <option value="850">850</option>
                                                                <option value="1000">1000</option>
                                                                <option value="1050">1050</option>
                                                                <option value="1100">1100</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row col-md-6 fieldType5">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Passing Date <span class="sprq">*</span></label>
                                                    <div>
                                                        <div class="form-group">
                                                            <input type="text" maxlength="11" name="txtDateOfPassingInter" id="txtDateOfPassingInter" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label> Certificate Image <span class="sprq">*</span></label>
                                                    <input type="file" id="flRowDegree2" name="flRowDegree2" class="form-control flup" tabindex="2" accept="image/jpeg, image/png">
                                                    <input type="hidden" id="hfdRowDegree2" value="" />
                                                    <img id="imgRowDegree2" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree2" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    @if ("13" == "12")
                                    {
                                        <fieldset id="fieldType" class="fieldType">
                                            <legend>  BSN Generic </legend>
                                            <input type="hidden" id="hfdTypeId4" class="hfdTypeId" value="" />
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Obtained Marks/CGPA <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree3MarksObtain" id="txtRowDegree3MarksObtain" class="form-control txtObtainMarksType" len="4" required="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Total Marks/CGPA <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree3MarksTotal" id="txtRowDegree3MarksTotal" class="form-control txtTotalMarksType" len="4" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>Passing Date <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="11" name="txtDateOfPassingBSN" id="txtDateOfPassingBSN" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Certificate Image <span class="sprq">*</span></label>
                                                        <input type="file" id="flRowDegree3" name="flRowDegree3" class="form-control flup flType" tabindex="2">
                                                        <input type="hidden" id="hfdRowDegree3" value="" class="hfdType" />
                                                        <img id="imgRowDegree3" class="flup-img imgType" src="" alt="" style="display:none;" />
                                                        <a id="rmvRowDegree3" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType5">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Passing Institute <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="70" name="txtPassingInstitute3" id="txtPassingInstitute3" class="form-control" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    }
                                    else if ("13" == "11")
                                    {
                                        <fieldset id="fieldType" class="fieldType">
                                            <legend>  General Nursing (03 years) </legend>
                                            <input type="hidden" id="hfdRowDegree3Id" class="hfdTypeId" value="" />
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Obtained Marks <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree03MarksObtain" id="txtRowDegree03MarksObtain" class="form-control txtObtainMarksType numeric" len="4" required="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Total Marks <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree03MarksTotal" id="txtRowDegree03MarksTotal" class="form-control txtTotalMarksType numeric" len="4" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>Passing Date <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="11" name="txtDateOfPassingGN" id="txtDateOfPassingGN" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Certificate Image <span class="sprq">*</span></label>
                                                        <input type="file" id="flRowDegree03" name="flRowDegree03" class="form-control flup flType" tabindex="2">
                                                        <input type="hidden" id="hfdRowDegree03" value="" class="hfdType" />
                                                        <img id="imgRowDegree03" class="flup-img imgType" src="" alt="" style="display:none;" />
                                                        <a id="rmvRowDegree03" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType5">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Passing Institute <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="70" name="txtPassingInstitute03" id="txtPassingInstitute03" class="form-control" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset id="fieldType" class="fieldType">
                                            @if (Convert.ToInt32(2) == 1)
                                            {
                                                <legend>  Basic Specialty for Males in lieu of Midwifery : Specialization (4th year) </legend>
                                            }
                                            else
                                            {
                                                <legend>  Midwifery (4th year) </legend>
                                            }
                                            <input type="hidden" id="hfdRowDegree4Id" class="hfdTypeId" value="" />
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Obtained Marks <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree4MarksObtain" id="txtRowDegree4MarksObtain" class="form-control txtObtainMarksType numeric" len="4" required="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Total Marks <span class="sprq">*</span></label>
                                                        <input type="text" name="txtRowDegree4MarksTotal" id="txtRowDegree4MarksTotal" class="form-control txtTotalMarksType numeric" len="4" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType4">
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>Passing Date <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="11" name="txtDateOfPassingMidwifery" id="txtDateOfPassingMidwifery" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label> Certificate Image <span class="sprq">*</span></label>
                                                        <input type="file" id="flRowDegree4" name="flRowDegree4" class="form-control flup flType" tabindex="2">
                                                        <input type="hidden" id="hfdRowDegree4" value="" class="hfdType" />
                                                        <img id="imgRowDegree4" class="flup-img imgType" src="" alt="" style="display:none;" />
                                                        <a id="rmvRowDegree4" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-md-6 fieldType5">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Passing Institute <span class="sprq">*</span></label>
                                                        <div>
                                                            <div class="form-group">
                                                                <input type="text" maxlength="70" name="txtPassingInstitute4" id="txtPassingInstitute4" class="form-control" tabindex="7" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    }


                                </div>
                            </fieldset>





                            @*Certificates Start*@


                            @if ("13" == "11")
                            {
                                <fieldset id="fieldType5" class="fieldType">
                                    <legend>  1 year Post Basic specialization in any Specialty: (If Already Done) </legend>
                                    <input type="hidden" id="hfdTypeId5" class="hfdTypeId" value="" />
                                    <div class="row col-md-6 fieldType5">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Obtained Marks <span class="sprq"></span></label>
                                                <input type="text" name="txtObtainMarksType5" id="txtObtainMarksType5" class="form-control txtObtainMarksType numeric" len="4" required="">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Total Marks <span class="sprq"></span></label>
                                                <input type="text" name="txtTotalMarksType5" id="txtTotalMarksType5" class="form-control txtTotalMarksType numeric" len="4" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-6 fieldType5">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label>Passing Date <span class="sprq"></span></label>
                                                <div>
                                                    <div class="form-group">
                                                        <input type="text" maxlength="11" name="txtDateOfPassingBsc" id="txtDateOfPassingBsc" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Certificate Image <span class="sprq"></span></label>
                                                <input type="file" id="flType5" name="flType5" class="form-control flup flType" tabindex="2">
                                                <input type="hidden" id="hfdType5" value="" class="hfdType" />
                                                <img id="imgType5" class="flup-img imgType" src="" alt="" style="display:none;" />
                                                <a id="rmvType5" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-6 fieldType5">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Passing Institute <span class="sprq"></span></label>
                                                <div>
                                                    <div class="form-group">
                                                        <input type="text" maxlength="70" name="txtInstituteBsc" id="txtInstituteBsc" class="form-control" tabindex="7" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="postRnBscRemove" class="row col-md-12" style="height: 50px; top: 17px; left: 30px; vertical-align: middle; display: none;">
                                        <a id="removeBsc" class="removeImage" style="position: absolute !important; width: 300px;text-align:center;  top: 0px !important; left: 0px !important; font-size: 16px !important; background-color: #e2e2e2; ">
                                            <i class="fa fa-window-close"></i> Remove 1 year Post Basic specialization
                                        </a>
                                    </div>
                                </fieldset>
                            }
                            @if ("13" == "12")
                            {
                                <fieldset id="fieldType4" class="fieldType">
                                    <legend> Post RN B.sc.Nursing/Generic:  (If Already Done) </legend>
                                    <input type="hidden" id="hfdTypeId4" class="hfdTypeId" value="" />
                                    <div class="row col-md-6 fieldType4">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Obtained Marks <span class="sprq"></span></label>
                                                <input type="text" name="txtObtainMarksType4" id="txtObtainMarksType4" class="form-control txtObtainMarksType numeric" len="4" required="">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Total Marks <span class="sprq"></span></label>
                                                <input type="text" name="txtTotalMarksType4" id="txtTotalMarksType4" class="form-control txtTotalMarksType numeric" len="4" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-6 fieldType4">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label>Passing Date <span class="sprq"></span></label>
                                                <div>
                                                    <div class="form-group">
                                                        <input type="text" maxlength="11" name="txtDateOfPassingMsc" id="txtDateOfPassingMsc" class="datepicker form-control dated" tabindex="7" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label> Certificate Image <span class="sprq"></span></label>
                                                <input type="file" id="flType4" name="flType4" class="form-control flup flType" tabindex="2">
                                                <input type="hidden" id="hfdType4" value="" class="hfdType" />
                                                <img id="imgType4" class="flup-img imgType" src="" alt="" style="display:none;" />
                                                <a id="rmvType4" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-6 fieldType5">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Passing Institute <span class="sprq"></span></label>
                                                <div>
                                                    <div class="form-group">
                                                        <input type="text" maxlength="70" name="txtInstituteMsc" id="txtInstituteMsc" class="form-control" tabindex="7" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="postRnMscRemove" class="row col-md-12" style="height: 50px; top: 17px; left: 30px; vertical-align: middle; display:none;">
                                        <a id="removeMsc" class="removeImage" style="position: absolute !important; width: 300px; top: 0px !important; left: 0px !important; font-size: 16px !important; background-color: #e2e2e2; ">
                                            <i class="fa fa-window-close"></i> Remove Post RN B.sc.Nursing/Generic
                                        </a>
                                    </div>
                                </fieldset>
                            }
                            @if ("13" == "13")
                            {
                                <div class="col-sm-12">
                                    <a href="/applicant-voucher" class="btn btn-lg mb10 mt5 pull-right btn-blue" style="margin-left:10px; margin-top: 6px; display:none;">  &nbsp;&nbsp;Next &nbsp;&nbsp; <i class="fa fa-arrow-right"></i> </a>
                                    <span id="btnSaveEducation" type="button" class="btn btn-lg mb10 mt5 pull-right btn-red" value="">Save & Continue &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span>
                                    &nbsp;&nbsp;
                                    <a href="/applicant-profile" class="btn btn-lg mb10 mt5 pull-right btn-blue" style="margin-right:10px; margin-top: 6px;"> <i class="fa fa-arrow-left"></i> &nbsp;&nbsp;Previous &nbsp;&nbsp;</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12">
                                    <a href="/applicant-exprience" class="btn btn-lg mb10 mt5 pull-right btn-blue" style="margin-left:10px; margin-top: 6px; display:none;">  &nbsp;&nbsp;Next &nbsp;&nbsp; <i class="fa fa-arrow-right"></i> </a>
                                    <span id="btnSaveEducation" type="button" class="btn btn-lg mb10 mt5 pull-right btn-red" value="">Save & Continue &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span>
                                    &nbsp;&nbsp;
                                    <a href="/applicant-profile" class="btn btn-lg mb10 mt5 pull-right btn-blue" style="margin-right:10px; margin-top: 6px;"> <i class="fa fa-arrow-left"></i> &nbsp;&nbsp;Previous &nbsp;&nbsp;</a>
                                </div>
                            }

                        </form>
                    </div>
                </div>
                @Html.Partial("_NotePageBottom")
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cofirmation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row main">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 form-box mn0" style="height:100%; padding:30px">
                                <div class="main-login main-center">


                                    <p> These changes are not edible after submission. If you are sure please click on <b>Save</b> Button</p>

                                    <p>
                                        <label class="text-center">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <img src="~/Images/popupTxt.jpeg" />
                                        </label>
                                    </p>
                                    <div class="col-sm-12">
                                        <span id="btnSaveModal" type="button" class="btn btn-lg mb10 mt5 pull-right btn-red" tabindex="28">Save &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cacel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>