@{
    ViewBag.Title = "Application Proof Reading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.ProofReadingModel
@section RenderCss{

    <style>

        td span {
            line-height: 18px;
        }


        #divprint {
            width: 100%;
            margin: 0 auto;
            margin-top: 15px;
            font-family: 'Lato', sans-serif !important;
        }

        .btn_print {
            padding: 10px 40px;
            background-color: #48a0d7;
            border-radius: 5px
        }

        .th_center {
            text-align: center;
        }

        .w1 {
            width: 1%;
        }

        .center-div {
            margin: auto;
            width: 20%;
            padding: 10px;
            height: 60px;
        }

        .ank {
            cursor: pointer;
        }

        .spn-img-view {
            font-style: italic;
        }

        .spn-edit {
            float: right;
            margin-right: 5px;
            padding: 1px 6px;
            background: #fefefe;
            color: #8b8686;
        }

            .spn-edit:hover {
                background: #e9e0e0;
            }

        .imgView {
            width: 60px;
            height: 40px;
            border: 1px solid #ede9e9;
            width: 30px;
            height: 20px;
        }


        .text-center {
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;
        }

        .top_detail tr td:nth-child(2n) {
            border-bottom: 1px solid #000;
        }

        h3.heading {
            border-bottom: 1px solid;
            padding-bottom: 10px;
        }
    </style>
}
@section RenderScript{

    <script>

        var applicantId = 0, objApplicant = {}, imagesPath = "", contactNumber = 0;

        $(document).ready(function () {



            applicantId = ConvertToInt($("#hfdApplicantId").val());

            GetApplicantMarksInfo();

            $(document).on('click', '#ankSubmit', function () {

                var isConfirm = $("#chkConfirm").is(':checked');
                if (isConfirm) {
                    if (test) {

                        var valReturn = CallActionGet("/ApplicantProfile/UpdateApplicantStatus?applicantId=" + applicantId
                            + "&applicationStatus=8&condition=applicationStatus");

                        $('#myModal').modal('show');
                        //
                    }
                    else {
                        $('#myModal').modal('hide');
                        alert("Please click on below link Verification Code.");
                    }
                }
                else {

                    alert("Please select agree information");
                }
            });
            var test = false;
            var otpCode;
            $(document).on('click', '#ankGenerateOtpCode', function () {

            $(document).on('click', '.btn_print', function () {

                printDiv();

            });
            //$(document).on('click', '.#btnSaveModal', function () {

            //    window.location = "/application-completed";

            //});

        });

        $(document).on('click', '#ankReGenerateOtpCode', function () {

            var isConfirm = $("#chkConfirm").is(':checked');
            if (isConfirm) {
                if (otpCode == null || otpCode == "") {
                    var Code = CallActionGet("/ApplicantProfile/GenerateOtpCode?applicantId=" + applicantId
                        + "&applicationStatus=8&condition=applicationStatus");

                    if (Code != null) {
                        otpCode = Code;
                        test = true;
                      
                        $("#otpgenrate").hide();
                        alert("Otp code sent in your mobile no for verification.");
                    }
                } 

            } else {
                test = false;
                $("#otpregenrate").hide();
                $("#otpgenrate").show();
                alert("Please select agree information");
            }
        });

        $(document).on('click', '#btnSaveModal', function () {
            mobilenumber = $("#txtMobile").val();
            otp = $("#txtOtp").val();
            if (mobilenumber.length != 11)
                alert("Enter Correct Mobile Number")
            else if (otp.length != 6)
                alert("Enter Correct OTP")
            else {
                checkOtp(mobilenumber, otp)
            }
        });


        function checkOtp(mobilenumber, otp) {
            var valReturn = CallActionGet("/ApplicantProfile/CheckOtp?mobileNumber=" + mobilenumber + "" + "&otp=" + otp);

            if (valReturn != 0) {
                window.location = "/application-completed";
            }
            else {
                alert("Mobile Number Or OTP does not match or OTP expired")
            }
        }



        function printDiv() {
            var result = false;
            try {

                var divToPrint = document.getElementById('divprint');
                var newWin = window.open('', 'Print-Window');
                newWin.document.open();
                newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                newWin.document.close();
                setTimeout(function () { newWin.close(); }, 10);
                result = true;

            } catch (e) {
                result = false;
            }
            return result;
        }

        function GetApplicantMarksInfo() {
            //alert("GetApplicantInfo");
            if (1>0) {
                if (1>0) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=100&gn=0&mw=0&bsn=0&extraQ=0&minExp=0&exp=0&entryTest=0");
                    console.log(resp);
                    $(".fsc").show();
                    $(".gn").hide();
                    $(".bsn").hide();
                    $(".postRn").hide();
                    $(".minExp").hide();
                    $(".exper").hide();
                    $(".entry").hide();
                    $(".total").show();
                    $("#fsc").html(resp.fscObtained);
                    $("#total").html(resp.fscObtained);
                    $(".obtainedAllQualification").html(resp.fscObtained);
                    $(".totalAllQualification").html("100");
                }
            }
            else if (@Convert.ToInt32(Session["degreeAchieved"]) == 12) {
                if (@Convert.ToInt32(Session["appliedFor"]) == 12) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=0&mw=0&bsn=90&extraQ=0&minExp=2&exp=10&entryTest=0");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").hide();
                    $(".bsn").show();
                    $(".postRn").hide();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").hide();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#bsn").html(resp.bsnObtained);
                    $("#exper").html(resp.expObtained);
                    $("#total").html(parseFloat(resp.bsnObtained + resp.expObtained).toFixed(2));
                    //$("#total").html(resp.bsnObtained + resp.expObtained);
                    $(".obtainedQualification").html(resp.bsnObtained);
                    $(".totalQualification").html("90");
                    $(".obtainedAllQualification").html(resp.bsnObtained);
                    $(".totalAllQualification").html("90");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("10");
                }
            }
            else if (@Convert.ToInt32(Session["degreeAchieved"]) == 11) {
                if (@Convert.ToInt32(Session["appliedFor"]) == 11) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=25&mw=25&bsn=0&extraQ=2&minExp=2&exp=8&entryTest=40");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").show();
                    $(".bsn").hide();
                    $(".postRn").show();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").show();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#gn").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $("#postRn").html(resp.extraObtained);
                    $("#exper").html(resp.expObtained);
                    $("#entry").html("0");
                    $("#entryTotal").html("40");
                    $("#total").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained + resp.expObtained).toFixed(2));
                    $(".obtainedQualification").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $(".totalQualification").html("50");
                    $(".obtainedExtraQualification").html(resp.extraObtained);
                    $(".totalExtraQualification").html("2");
                    $(".obtainedAllQualification").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained).toFixed(2));
                    $(".totalAllQualification").html("52");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("8");
                }
                else if (@Convert.ToInt32(Session["appliedFor"]) == 12) {
                    var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                        + "&fsc=0&gn=42.5&mw=42.5&bsn=0&extraQ=5&minExp=2&exp=10&entryTest=0");
                    console.log(resp);
                    $(".fsc").hide();
                    $(".gn").show();
                    $(".bsn").hide();
                    $(".postRn").show();
                    $(".minExp").show();
                    $(".exper").show();
                    $(".entry").hide();
                    $(".total").show();
                    $("#minExp").html("2 Years Post Qualification");
                    $("#gn").html(resp.gnObtained + resp.mwObtained);
                    $("#postRn").html(resp.extraObtained);
                    $("#exper").html(resp.expObtained);
                    $("#total").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained + resp.expObtained).toFixed(2));
                    //$("#total").html(resp.gnObtained + resp.mwObtained + resp.extraObtained + resp.expObtained);
                    $(".obtainedQualification").html(parseFloat(resp.gnObtained + resp.mwObtained).toFixed(2));
                    $(".totalQualification").html("85");
                    $(".obtainedExtraQualification").html(resp.extraObtained);
                    $(".totalExtraQualification").html("5");
                    $(".obtainedAllQualification").html(parseFloat(resp.gnObtained + resp.mwObtained + resp.extraObtained).toFixed(2));
                    $(".totalAllQualification").html("90");
                    $(".obtainedExperience").html(resp.expObtained);
                    $(".totalExperience").html("10");
                }
            }
            else
            {
                var resp = CallActionGet("/ApplicantProfile/GetApplicantTentativeMarks?applicantId=" + applicantId
                    + "&fsc=0&gn=0&mw=0&bsn=0&extraQ=0&minExp=0&exp=0&entryTest=0");
                console.log(resp);
            }

            try {

            } catch (e) {
            }
        }

    </script>
}
<div class="container" style=" margin-bottom:60px;">
    <div class="row main">
        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <div class="col-sm-12">
                        <div class="center-div">
                            <a class="btn btn-app animated-button btn_print"><i class="fa fa-save"></i> &nbsp; Print </a>
                        </div>
                    </div>
                    <h3 class="heading" style="display:none;">
                        Important Note: Please ensure the correctness of information before Accept and Submit.
                        <span> Once submitted the information cannot be edited / changed </span>

                    </h3>
                    <a class="ank spn-edit" href="/applicant-profile">
                        <i class="fa fa-pencil black"></i>  Edit
                    </a>
                    <div>
                        <div id="divprint" class="container cv-f" style="font-size:14px !important; ">
                            <style>
                                .imgView {
                                    width: 60px;
                                    height: 40px;
                                    border: 1px solid #ede9e9;
                                    width: 30px;
                                    height: 20px;
                                }
                            </style>
                            @if (1 > 2)
                            {
                                <fieldset>
                                    <legend>
                                        <label class="checkbox-inline" for="chkConfirm">
                                            <input type="checkbox" name="acknowledge" id="chkConfirm" value="1" required="required">
                                            Re-Open Application
                                        </label>
                                    </legend>
                                    <div class="col-md-12">
                                        <p>
                                            Dear applicant you can re-open and edit your application till closing date and time. However
                                            , please ensure to Close and Submit your application before closing date and time (07-Feb-2022 11:00 pm)
                                        </p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="center-div">
                                            <a id="btnReopenApplication" class="btn btn-app animated-button"><i class="fa fa-edit"></i> Re-Open Application </a>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                            @{
                                var applicant = Model.applicant;
                                var info = Model.applicantInfo;

                                var degree = Model.degree;

                                var digit = 0;
                                if (Convert.ToInt32(Session["degreeAchieved"]) == 13)
                                {
                                    digit = 5;
                                }
                                else
                                {
                                    digit = 5;
                                }
                                decimal marksDegree = 0;
                                decimal marksDMC = 0;

                                decimal marksHouseJob = 0;

                                decimal marksExperience = 0;
                                decimal marksDistinction = 0;

                                decimal marksResearchPaper = 0;

                                <table style="width: 100%;" cellspacing="0px">
                                    <tbody>
                                        <tr style="float: left">
                                            <th>
                                                <h4 style="margin: 0px; font-size: 35px;">@applicant.name</h4>
                                                <h4 style="margin: 0px; font-size: 20px; margin-bottom:8px; ">
                                                    @if (1 > 0)
                                                    {
                                                        <label style="margin: 0px; font-size: 20px; margin-top: 8px; border-bottom: 2px solid #000">Form No: 135@(applicant.applicantId) : Application for BSN Generic (4 Years Degree Program) </label>
                                                    }
                                                    else if (Convert.ToInt32(Session["appliedFor"]) == 12)
                                                    {
                                                        <label style="margin: 0px; font-size: 20px; margin-top: 8px; border-bottom: 2px solid #000"> Form No: 12@(digit)@(applicant.applicantId) : Application for Post RN 1 year Specialization Diploma</label>
                                                    }
                                                    else if (Convert.ToInt32(Session["appliedFor"]) == 13)
                                                    {
                                                        <label style="margin: 0px; font-size: 20px; margin-top: 8px; border-bottom: 2px solid #000">Form No: 12@(digit)@(applicant.applicantId) : Application for BSN Generic (4 Years Degree Program)</label>
                                                    }
                                                </h4>
                                            </th>
                                        </tr>
                                        <tr style="float: right">
                                            <th>
                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pathProfilePic)" style="width:90px; height:80px;" />
                                                @*<a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">

                                                    </a>*@
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="width: 100%;" cellspacing="0px">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="top_detail" style="width: 49%; float: left; margin-right:1%;">
                                                    <tbody>
                                                        <tr>
                                                            <td>Name</td>
                                                            <td>@applicant.name</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email</td>
                                                            <td>@applicant.emailId</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date Of Birth</td>
                                                            <td>@info.dob.ToString("dd MMM yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Marital Status</td>
                                                            @if (Model.applicantInfo.meritalStatus == 1)
                                                            {
                                                                <td>Single</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 2)
                                                            {
                                                                <td>Married</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 3)
                                                            {
                                                                <td>Separated</td>
                                                            }
                                                            else if (Model.applicantInfo.meritalStatus == 4)
                                                            {
                                                                <td>Widowed</td>
                                                            }
                                                        </tr>
                                                        @*<tr>
                                                                <td>PMDC Number</td>
                                                                <td>
                                                                    @applicant.pmdcNo
                                                                    <a class="ank" href="@("https://pmc.gov.pk/Doctors/Details?regNo="+@applicant.pmdcNo)" target="_blank"> View </a>
                                                                </td>
                                                            </tr>*@

                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {
                                                                    <td> Form B </td>
                                                                }
                                                                else
                                                                {
                                                                    <td> CNIC </td>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td>Passport</td>
                                                            }
                                                            <td>@info.cnicNo</td>
                                                        </tr>
                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {
                                                                    <td> Form B Front</td>
                                                                }
                                                                else
                                                                {
                                                                    <td> CNIC Front </td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td>Passport 1st Page</td>
                                                            }
                                                            <td>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>Disability</td>
                                                            @if (!String.IsNullOrWhiteSpace(info.disableImage))
                                                            {
                                                                <td>
                                                                    @info.disable - <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" target="_blank" title="Click to view">
                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" />
                                                                    </a>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" target="_blank" title="Click to view">
                                                                        <span class="ank spn-img-view">View</span>
                                                                    </a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                if (@info.disableId == 1)
                                                                {
                                                                    <td> None </td>
                                                                }

                                                            }
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <table class="top_detail" style="width: 49%; float: left;">
                                                    <tbody>
                                                        <tr>
                                                            <td>Father Name</td>
                                                            <td>@info.fatherName</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile No</td>
                                                            <td>
                                                                @applicant.contactNumber

                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Gender</td>
                                                            @if (info.genderId == 2)
                                                            {
                                                                <td>Female</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Male</td>
                                                            }
                                                        </tr>
                                                        @if (Convert.ToInt32(Session["degreeAchieved"]) != 13)
                                                        {
                                                            
                                                            <tr>
                                                                <td>PNC Expiry Date</td>
                                                                <td>@info.pncExpiryDate.ToString("dd MMM yyyy")</td>
                                                            </tr>
                                                        }
                                                    <tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            if (info.cnicPicBack == "")
                                                            {

                                                                }
                                                                else
                                                                {
                                                                    <td>CNIC Expiry Date</td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td>Passport Expiry Date</td>
                                                            }
                                                            @if (info.cnicPicBack == "")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                                            }

                                                        </tr>
                                                        <tr>
                                                            @if (info.countryId == 132)
                                                            {
                                                                if (info.cnicPicBack == "")
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    <td>CNIC Back</td>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td>Passport 2nd Page</td>
                                                            }
                                                            @if (info.cnicPicBack == "")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                                    </a>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                        <span class="ank spn-img-view">View</span>
                                                                    </a>
                                                                </td>
                                                            }

                                                        </tr>
                                                        @if (info.countryId == 132)
                                                        {
                                                            <tr>
                                                                <td>Domicile</td>
                                                                <td>
                                                                    Punjab - @info.domicileDistrict -
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                                                    </a>
                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                        <span class="ank spn-img-view">View</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="top_detail" style="width: 100%; float: left;">
                                                    <tr>
                                                        <td style="width: 17.5%; float: left;">Address</td>
                                                        <td style="width: 80%; float: left;">@info.address</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {
                                    if (Model.listMarks != null && Model.listMarks.Count > 0)
                                    {
                                        try
                                        {
                                            marksDegree = Model.listMarks.Where(x => x.marksType == 1).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }
                                        try
                                        {
                                            marksDMC = Model.listMarks.Where(x => x.marksType == 2).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }


                                        try
                                        {
                                            marksHouseJob = Model.listMarks.Where(x => x.marksType == 4).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }

                                        try
                                        {
                                            marksExperience = Model.listMarks.Where(x => x.marksType == 7).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }

                                        try
                                        {
                                            marksDistinction = Model.listMarks.Where(x => x.marksType == 8).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }

                                        if ((marksExperience + marksDistinction) > 20)
                                        {
                                            marksExperience = 20;
                                        }
                                        else
                                        {
                                            marksExperience = marksExperience + marksDistinction;
                                        }

                                        try
                                        {
                                            marksResearchPaper = Model.listMarks.Where(x => x.marksType == 9).FirstOrDefault().marksExpected;
                                        }
                                        catch (Exception)
                                        {
                                        }
                                    }

                                }
                                <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Education : <label style="font-weight:bold" class="obtainedAllQualification"></label>
                                                    / <label style="font-weight:bold" class="totalAllQualification"></label>
                                                    <a class="ank spn-edit" href="/applicant-education">
                                                        <i class="fa fa-pencil black"></i>  Edit
                                                    </a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="margin-top: 5px; width: 100%; border:1px solid;" cellspacing="0" border="1">
                                    <tbody>
                                        <tr>
                                            <th class="th_center">SR</th>
                                            <th>Degree Type</th>
                                            <th class="th_center">Obtained Marks</th>
                                            <th class="th_center">Total Marks</th>
                                            <th>Passing Institute/Board</th>
                                            <th class="th_center">Certificate Image</th>
                                        </tr>
                                        @{int i = 1;}
                                        @foreach (var item in Model.listDegreeMark)
                                        {


                                            <tr>
                                                <td class="th_center">@i</td>
                                                @if (item.degreeName == "Midwifery")
                                                {
                                                    if (Convert.ToInt32(Session["genderID"]) == 1)
                                                    {
                                                        <td>Specialization (4th Year)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Midwifery  (4th Year)</td>
                                                    }
                                                }
                                                else if (item.degreeName == "General Nursing")
                                                {
                                                    <td>General Nursing (03 Years)</td>
                                                }
                                                else if (item.degreeName == "BS Nursing")
                                                {
                                                    <td>BSN Generic (4 Years Degree Program)</td>
                                                }
                                                else if (item.degreeName == "Post RN Bsc Nursing")
                                                {
                                                    <td>1 year Post Basic specialization</td>
                                                }
                                                else if (item.degreeName == "MSc Nursing")
                                                {
                                                    <td>Post RN B.sc.Nursing/Generic</td>
                                                }
                                                else
                                                {
                                                    <td>@item.degreeName</td>
                                                }
                                                <td class="th_center">@item.obtainMarks</td>
                                                <td class="th_center">@item.totalMarks</td>
                                                <td>@item.degreeInstitute</td>
                                                <td class="th_center">
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + item.imageDMC)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            i++;
                                            @*<tr>
                                                <th style="width:20%">Degree Type</th>
                                                <th style="width:50%" colspan="2">Passing Institute/Board</th>

                                            </tr>
                                            <tr>
                                                <td>@item.degreeName</td>
                                                <td colspan="2">@item.degreeInstitute</td>

                                            </tr>
                                            <tr>
                                                <th>Obtained Marks</th>
                                                <th>Total Marks</th>
                                                <th>@item.degreeName Degree</th>
                                            </tr>
                                            <tr>
                                                <td>@item.obtainMarks</td>
                                                <td>@item.totalMarks</td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + item.imageDMC)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDMC)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>*@
                                        }

                                    </tbody>
                                </table>

                                if (info.countryId == 132 && Model.listExprince != null && Model.listExprince.Count > 0)
                                {

                                    <table style="margin-top: 15px; width: 100%; border:1px solid;" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                    <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                        Experience : <label style="font-weight:bold" class="obtainedExperience"></label>
                                                        / <label style="font-weight:bold" class="totalExperience"></label>
                                                        <a class="ank spn-edit" href="/applicant-exprience">
                                                            <i class="fa fa-pencil black"></i>  Edit
                                                        </a>
                                                    </p>
                                                </td>
                                            </tr>
                                            @if (Model.listExprince != null && Model.listExprince.Count > 0)
                                            {
                                                <tr>
                                                    <td>
                                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Province</th>
                                                                    <th>Type</th>
                                                                    <th>Hospital</th>
                                                                    <th>Start Date</th>
                                                                    <th>End Date</th>
                                                                    <th>Month</th>
                                                                    <th>Days</th>
                                                                    <th>Certificates</th>
                                                                </tr>
                                                                @foreach (var marks in Model.listExprince)
                                                                {
                                                                    <tr>
                                                                        <td>@marks.provinceName</td>
                                                                        <td>@marks.typeName</td>
                                                                        <td>@marks.instituteName</td>
                                                                        <td>@marks.startDated.ToString("dd MMM yyyy")</td>
                                                                        <td>@marks.endDate.ToString("dd MMM yyyy")</td>
                                                                        <td>@marks.noOfMonth Month</td>
                                                                        <td>@marks.noOfDays Days</td>
                                                                        <td>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageExperience)" target="_blank" title="Click to view">
                                                                                <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageExperience)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                                                            </a>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageExperience)" target="_blank" title="Click to view">
                                                                                <span class="ank spn-img-view">View</span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>

                                    </table>
                                }


                                if (Model.listSpecility != null && Model.listSpecility.Count > 0)
                                {
                                    if (Model.listSpecility != null && Model.listSpecility.Count > 0)
                                    {
                                        <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                        <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                            Preference
                                                            <a class="ank spn-edit" href="/applicant-speciality">
                                                                <i class="fa fa-pencil black"></i>  Edit
                                                            </a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Preference No.</th>
                                                    @if (1 > 0)
                                                    {
                                                    }
                                                    else
                                                    {
                                                        <th> Specillaty</th>
                                                    }
                                                    <th> Institute</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var spc in Model.listSpecility.OrderBy(x => x.preferenceNo))
                                                {
                                                    <tr>
                                                        <td>@spc.preferenceNo</td>
                                                        @if (1 > 0)
                                                        {
                                                        }
                                                        else
                                                        {
                                                            <td>@spc.specialityName</td>
                                                        }

                                                        <td>@spc.hospitalName</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }
                                    <P style="page-break-before: always" />
                                }
                                <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Payment Information
                                                    <a class="ank spn-edit" href="/applicant-voucher">
                                                        <i class="fa fa-pencil black"></i>  Edit
                                                    </a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                if (Model.voucher != null && Model.voucher.applicantVoucherId > 0)
                                {
                                    if (String.IsNullOrWhiteSpace(Model.voucher.voucherImage))
                                    {
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            <thead> <tr> <th> IBN </th> <th> Applicant A/C No </th> <th> Applicant A/C Title </th><th> Submitted Date </th>  </tr></thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.voucher.ibn</td>
                                                    <td>@Model.voucher.accountNo</td>
                                                    <td>@Model.voucher.accountTitle</td>
                                                    <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                            @if (0 > 1)
                                            {
                                                <thead> <tr> <th> Branch Code </th><th> Submitted Date </th> <th> Image </th><th> Testing Center </th>  </tr></thead>
                                            }
                                            else
                                            {
                                                <thead> <tr> <th> Branch Code </th><th> Submitted Date </th> <th> Image </th>  </tr></thead>
                                            }
                                            <tbody>
                                                <tr>
                                                    <td>@Model.voucher.branchCode</td>
                                                    <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.voucher.voucherImage)" alt="No Image" />
                                                        </a>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                            <span class="ank spn-img-view">View</span>
                                                        </a>
                                                    </td>
                                                    @if (0 > 1)
                                                    {
                                                        <td>@Model.voucher.testingCenterName.TooString()</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                }



                                if (0 > 1)
                                {
                                    <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                    <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                        Attachments
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                        <thead> <tr> <th> PNC Front </th><th> PNC Back </th> <th> Affidavit/Surety bond </th> <th>Regularization Order</th> </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.pncPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.medicalFitnessCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.regularizationOrder)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <thead><tr> <th colspan="4"> Forwarding Letter of MS/HOI </th>@*<th> No Enquiry Certificate </th>*@ @*<th> Recommendation Letter </th>*@ @*<th colspan="2">Charge Assumption Report (Regular)</th>*@ </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nocCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                                @*<td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.nicCertificate)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>*@
                                                @*<td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>*@
                                                @*<td colspan="2">
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" alt="No Image" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.applicantInfo.recommendationLetter2)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                }

                                <table style="margin-top: 15px; width: 100%; border:1px solid;" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Tentative Marks
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                    <tbody>
                                                        <tr style="text-align:center">
                                                            <th class="th_center w1 fsc" colspan="2">FSc</th>

                                                            <th class="th_center w1 total" colspan="2" rowspan="2">Total Aggregate</th>
                                                        </tr>
                                                        <tr style="text-align:center">
                                                            <th class="th_center w1 fsc">Obtained</th>
                                                            <th class="th_center w1 fsc">Total</th>
                                                            <th class="th_center w1 gn">Obtained</th>
                                                            <th class="th_center w1 gn">Total</th>
                                                            <th class="th_center w1 bsn">Obtained</th>
                                                            <th class="th_center w1 bsn">Total</th>
                                                            <th class="th_center w1 postRn">Obtained</th>
                                                            <th class="th_center w1 postRn">Total</th>
                                                            @*<th class="th_center minExp">Minimum Experience Required</th>*@
                                                            <th class="th_center w1 exper">Obtained</th>
                                                            <th class="th_center w1 exper">Total</th>
                                                            <th class="th_center w1 entry">Obtained</th>
                                                            <th class="th_center w1 entry">Total</th>
                                                            @*<th class="th_center total">Total Aggregate Obtained</th>
                                                            <th class="th_center total">Total Aggregate</th>*@
                                                        </tr>
                                                        <tr style="text-align:center">
                                                            <td class="fsc" id="fsc"></td>
                                                            <td class="fsc">100</td>

                                                            <td class="total" id="total"></td>
                                                            @*<td class="total">100</td>*@
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>

                            }
                            <table style="width: 100%; " cellspacing="0px">
                                <tbody>
                                    <tr style="float: left">
                                        <!--<fieldset>
                                                <legend>
                                                    <label class="checkbox-inline" for="chkConfirm" dir="rtl">
                                                        <input type="checkbox" name="acknowledge" id="chkConfirm" value="1" required="required">
                                                        یہ تصدیق شدہ ہے کہ معلومات درست ہیں۔
                                                    </label>
                                                </legend>
                                                <div class="row col-md-12  ">
                                                    <div class="col-md-12" dir="rtl">
                                                        <p>
                                                            1. میں،  @Model.applicant.name,  اعلان کرتا ہوں کہ، درخواست فارم میں میرے ذریعے کی گئی اندراجات میرے بہترین علم کے مطابق اور ریکارڈ پر مبنی مکمل اور درست ہیں۔<br />
                                                            2. میں رجسٹریشن کے لیے درخواست فارم میں فراہم کردہ کسی بھی غلط معلومات فراہم کرنے کے لیے مکمل طور پر ذمہ دار ہوں۔<br />
                                                            3. اگر جمع کرائی گئی معلومات غلط، مماثل یا جعلی پائی گئیں تو درخواست کو مسترد کر دیا جائے گا اور اگر ٹریننگ شروع کی گئی تو ادارہ/سرکاری سطح پر اپیل کے حق کے بغیر بند کر دیا جائے گا۔<br />
                                                            4.<span style="color:#ff0000; font-size:14px;"><b> اگاگر اپ لوڈ کردہ/منسلک/جمع کردہ دستاویزات میں سے کوئی بھی جعلی/جعلی پایا گیا تو میں انضباطی کارروائی کا ذمہ دار ہوں گا۔</b></span><br />-->
                                                                                @*5.<span style="color:#ff0000; font-size:14px;"><b>Important Note: Please ensure the correctness of information before Accept and Submit. Once submitted the information cannot be edited / changed.</b></span>*@
                                                                                <!--</p>
                                                    </div>
                                                </div>
                                            </fieldset>-->
                                        <fieldset>
                                            <legend>
                                                <label class="checkbox-inline" for="chkConfirm">
                                                    <input type="checkbox" name="acknowledge" id="chkConfirm" value="1" required="required">
                                                    I agree information are correct.
                                                </label>
                                            </legend>
                                            <div class="row col-md-12  ">
                                                <div class="col-md-12">
                                                    <p>
                                                        1. I, @Model.applicant.name, declare that, the entries made by me in the Application Form are complete and true to the best of my knowledge and based on records.<br />
                                                        2. I am solely responsible for providing any of incorrect information supplied in the application form for registration.<br />
                                                        3. If information submitted found wrong, mismatched or forged the application will be rejected and training if started will be discontinued with no right of appeal at institution / government level.<br />
                                                        4.<span style="color:#ff0000; font-size:14px;"><b> I will be liable to a disciplinary action may be initiated against me if any of the documents uploaded/attached/submitted found fake/ forged.</b></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a id="ankSubmit" class="btn btn-lg btn-red mb10 pull-right">&nbsp;<i class="fa fa-save"></i> &nbsp; Accept &amp; Submit </a>
                    </div>
                </form>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Otp Verification</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row main">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10 form-box mn0" style="height:100%; padding:30px">
                                        <div class="main-login main-center">
                                            <h1 class="text-center">Confirm Your Mobile Number</h1>
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4"><img src="/assets/public/images/sent_mail.png" class="w100" alt=""></div>
                                            <div class="col-sm-4"></div>
                                            <p>
                                                <label class="text-center">
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                    Your Registration process is almost completed, we just need your mobile number verification, please verify your mobile number and OTP sent to your mobile number.
                                                </label>

                                            </p>
                                            <div class="col-md-12">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-2" style="padding:10px; text-align:right" ">Mobile Number</div>
                                                <div class="col-sm-4"><input type="text" name="txtMobile" maxlength="11" id="txtMobile" class="form-control" tabindex="0"></div>
                                                <div class="col-sm-4"></div>
                                            </div>
                                            <div class="col-md-12" style="margin-top:20px">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-2" style="padding:10px; text-align:right">OTP</div>
                                                <div class="col-sm-4"><input type="text" name="txtOtp" maxlength="6" id="txtOtp" class="form-control" tabindex="0"></div>
                                                <div class="col-sm-4"></div>
                                            </div>

                                            <div class="col-sm-12">
                                                <span id="btnSaveModal" type="button" class="btn btn-lg mb10 mt5 pull-right btn-red" tabindex="28">Verify &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></span>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

